@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div>
    <h1>Critical Miss</h1>
    <p>Well, this is embarassing.  DnDGen rolled a Nat 1.  We've complained loudly to the DM (the development team), and they will fix this problem as soon as they can.</p>
</div>
