<div>
    <span ng-show="treasure.Coin.Quantity > 0">{{treasure.Coin.Quantity | number}} {{treasure.Coin.Currency}}</span>
    <div id="goodsWrapper" ng-show="treasure.Goods.length > 0">
        <span>Goods:</span>
        <ul>
            <li ng-repeat="good in treasure.Goods track by $index">
                {{good.Description}} ({{good.ValueInGold | number}}gp)
            </li>
        </ul>
    </div>
    <div id="itemsWrapper" ng-show="treasure.Items.length > 0">
        <span>Items:</span>
        <ul>
            <li ng-repeat="item in treasure.Items track by $index">
                <dndgen-item item="item"></dndgen-item>
            </li>
        </ul>
    </div>
</div>
