@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>D20 Dice</h1>
    <div class="row">
        <div class="col-sm-4">
            <h3>d2</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1"/>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d3</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d4</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d6</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d8</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d10</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d12</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>d20</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Percentile (d100)</h3>
        </div>
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg">Roll</button>
        </div>
    </div>
</div>