@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app='app.dice'
}

@section Scripts {
    <script src="~/Scripts/app/shared/shared.module.js"></script>
    <script src="~/Scripts/app/shared/noDecimals.directive.js"></script>
    <script src="~/Scripts/app/dice/dice.module.js"></script>
    <script src="~/Scripts/app/dice/diceService.js"></script>
    <script src="~/Scripts/app/dice/dice.js"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/dice.css">
}

<div ng-controller="Dice">
    <h1>D20 Dice</h1>
    <div class="flex-container top-buffer">
        <div class="flex-child">
            <form name="d2Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d2" class="dice-input" required />d2
                <button id="d2Button" type="button" class="btn btn-success" ng-click="rollD2()" ng-disabled="d2Form.$invalid">Roll</button>
                <span><b>{{rolls.d2 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d3Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d3" class="dice-input" required />d3
                <button id="d3Button" type="button" class="btn btn-success" ng-click="rollD3()" ng-disabled="d3Form.$invalid">Roll</button>
                <span><b>{{rolls.d3 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d4Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d4" class="dice-input" required />d4
                <button id="d4Button" type="button" class="btn btn-success" ng-click="rollD4()" ng-disabled="d4Form.$invalid">Roll</button>
                <span><b>{{rolls.d4 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d6Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d6" class="dice-input" required />d6
                <button id="d6Button" type="button" class="btn btn-success" ng-click="rollD6()" ng-disabled="d6Form.$invalid">Roll</button>
                <span><b>{{rolls.d6 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d8Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d8" class="dice-input" required />d8
                <button id="d8Button" type="button" class="btn btn-success" ng-click="rollD8()" ng-disabled="d8Form.$invalid">Roll</button>
                <span><b>{{rolls.d8 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d10Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d10" class="dice-input" required />d10
                <button id="d10Button" type="button" class="btn btn-success" ng-click="rollD10()" ng-disabled="d10Form.$invalid">Roll</button>
                <span><b>{{rolls.d10 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d12Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d12" class="dice-input" required />d12
                <button id="d12Button" type="button" class="btn btn-success" ng-click="rollD12()" ng-disabled="d12Form.$invalid">Roll</button>
                <span><b>{{rolls.d12 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="d20Form">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.d20" class="dice-input" required />d20
                <button id="d20Button" type="button" class="btn btn-success" ng-click="rollD20()" ng-disabled="d20Form.$invalid">Roll</button>
                <span><b>{{rolls.d20 | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="percentileForm">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.percentile" class="dice-input" required />d100 (Percentile)
                <button id="percentileButton" type="button" class="btn btn-success" ng-click="rollPercentile()" ng-disabled="percentileForm.$invalid">Roll</button>
                <span><b>{{rolls.percentile | number}}</b></span>
            </form>
        </div>
        <div class="flex-child">
            <form name="customForm">
                <input dndgen-no-decimals type="number" min="1" ng-model="quantities.custom" class="dice-input" required />d<input dndgen-no-decimals type="number" min="1" ng-model="customDie" class="dice-input" required />
                <button id="customButton" type="button" class="btn btn-success" ng-click="rollCustom()" ng-disabled="customForm.$invalid">Roll</button>
                <span><b>{{rolls.custom | number}}</b></span>
            </form>
        </div>
    </div>
</div>