@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app="app.dice"
}

@section Scripts {
    <script src="~/Scripts/app/dice/dice.module.js"></script>
    <script src="~/Scripts/app/dice/diceService.js"></script>
    <script src="~/Scripts/app/dice/dice.js"></script>
}

<div ng-controller="Dice">
    <h1>D20 Dice</h1>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d2
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d2Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d3
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d3Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d4
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d4Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d6
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d6Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d8
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d8Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d10
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d10Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d12
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d12Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d20
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{d20Roll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d100 (Percentile)
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{percentileRoll}}</b>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-4">
            <input type="number" title="Quantity" value="1" min="1" />d<input type="number" title="Die" value="1" min="1" />
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success">Roll</button>
        </div>
        <div class="col-sm-2">
            <b>{{customRoll}}</b>
        </div>
    </div>
</div>