@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Hi!</h1>
    <p>This is where you can generate equipment and treasure.  I still have to wire up this part of the site.</p>
</div>

@section PostBodyScripts {
    <script type="text/javascript">
        angular.module('app.equipment').factory('bootstrapData', function () {
            return { equipmentModel: @Html.Raw(Json.Encode(Model)) };
        });
    </script>
}