@{
    @model DNDGenSite.Models.EquipmentModel
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app='app.equipment'
}

@section Scripts {
    <script src="~/Scripts/app/shared/shared.module.js"></script>
    <script src="~/Scripts/app/shared/noDecimals.directive.js"></script>
    <script src="~/Scripts/app/equipment/equipment.module.js"></script>
    <script src="~/Scripts/app/equipment/equipmentService.js"></script>
    <script src="~/Scripts/app/equipment/equipment.js"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/equipment.css">
}

<div ng-controller="Equipment as vm">
    <h1>EquipmentGen</h1>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <form name="treasureForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select id="treasureTypes" class="form-control" ng-model="vm.treasureType" ng-options="treasureType for treasureType in vm.equipmentModel.TreasureTypes" required></select>
                    </div>
                    <label for="treasureLevel" class="col-sm-2 control-label">Level:</label>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals id="treasureLevel" class="form-control" type="number" min="1" max="{{vm.equipmentModel.MaxTreasureLevel}}" ng-model="vm.treasureLevel" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="treasureButton" type="button" class="btn btn-success" ng-click="vm.generateTreasure()" ng-disabled="treasureForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <form name="mundaneItemForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <div class="col-sm-5">
                        <select id="mundaneItemTypes" class="form-control" ng-model="vm.mundaneItemType" ng-options="mundaneItemType for mundaneItemType in vm.equipmentModel.MundaneItemTypes" required></select>
                    </div>
                    <div class="col-sm-2 col-sm-offset-5">
                        <button id="mundaneItemButton" type="button" class="btn btn-success" ng-click="vm.generateMundaneItem()" ng-disabled="mundaneItemForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <form name="poweredItemForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select id="poweredItemTypes" class="form-control" ng-model="vm.poweredItemType" ng-options="poweredItemType for poweredItemType in vm.equipmentModel.PoweredItemTypes" required></select>
                    </div>
                    <label for="itemPowers" class="col-sm-2 control-label">Power:</label>
                    <div class="col-sm-4">
                        <select id="itemPowers" class="form-control" ng-model="vm.itemPower" ng-options="type for type in vm.itemPowers" required></select>
                    </div>
                    <div class="col-sm-2">
                        <button id="poweredItemButton" type="button" class="btn btn-success" ng-click="vm.generatePoweredItem()" ng-disabled="poweredItemForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <span id="noTreasure" class="italicize" ng-hide="vm.treasure.Coin.Quantity > 0 || vm.treasure.Goods.length > 0 || vm.treasure.Items.length > 0">No treasure was generated</span>
            <span ng-show="vm.treasure.Coin.Quantity > 0">{{vm.treasure.Coin.Quantity | number}} {{vm.treasure.Coin.Currency}}</span>
            <div id="goodsWrapper" ng-show="vm.treasure.Goods.length > 0">
                <span>Goods:</span>
                <ul>
                    <li ng-repeat="good in vm.treasure.Goods track by $index">
                        {{good.Description}} ({{good.ValueInGold | number}}gp)
                    </li>
                </ul>
            </div>
            <div id="itemsWrapper" ng-show="vm.treasure.Items.length > 0">
                <span>Items:</span>
                <ul>
                    <li ng-repeat="item in vm.treasure.Items track by $index">
                        <div id="itemName">
                            <span>{{item.Name}}</span> <span ng-show="item.Quantity > 1">(x{{item.Quantity}})</span>
                        </div>
                        <ul>
                            <li ng-show="item.Contents.length > 0">
                                <span>Contents:</span>
                                <ul>
                                    <li ng-repeat="content in item.Contents track by $index">{{content}}</li>
                                </ul>
                            </li>
                            <li ng-show="item.Traits.length > 0">
                                <span>Traits</span>
                                <ul>
                                    <li ng-repeat="trait in item.Traits track by $index">{{trait}}</li>
                                </ul>
                            </li>
                            <li ng-show="item.Magic.Bonus > 0">Bonus: +{{item.Magic.Bonus}}</li>
                            <li ng-show="item.Magic.SpecialAbilities.length > 0">
                                <span>Special Abilities:</span>
                                <ul>
                                    <li ng-repeat="ability in item.Magic.SpecialAbilities track by $index">{{ability.Name}}</li>
                                </ul>
                            <li ng-show="item.Magic.Charges > 0">Charges: {{item.Magic.Charges}}</li>
                            <li ng-show="item.Magic.Curse.length > 0">Curse: {{item.Magic.Curse}}</li>
                            <li id="intelligenceListItem" ng-show="item.Magic.Intelligence.Ego > 0">
                                <span>Intelligent:</span>
                                <ul>
                                    <li>Ego: {{item.Magic.Intelligence.Ego}}</li>
                                    <li>Intelligence: {{item.Magic.Intelligence.IntelligenceStat}}</li>
                                    <li>Wisdom: {{item.Magic.Intelligence.WisdomStat}}</li>
                                    <li>Charisma: {{item.Magic.Intelligence.CharismaStat}}</li>
                                    <li>Alignment: {{item.Magic.Intelligence.Alignment}}</li>
                                    <li>
                                        <span>Communication:</span>
                                        <ul>
                                            <li ng-repeat="method in item.Magic.Intelligence.Communication track by $index">{{method}}</li>
                                            <li ng-show="item.Magic.Intelligence.Languages.length > 0">
                                                <span>Languages:</span>
                                                <ul>
                                                    <li ng-repeat="language in item.Magic.Intelligence.Languages">{{language}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Senses: {{item.Magic.Intelligence.Senses}}</li>
                                    <li>
                                        <span>Powers:</span>
                                        <ul>
                                            <li ng-repeat="power in item.Magic.Intelligence.Powers track by $index">{{power}}</li>
                                        </ul>
                                    </li>
                                    <li ng-show="item.Magic.Intelligence.SpecialPurpose.length > 0">
                                        <span>Special Purpose: {{item.Magic.Intelligence.SpecialPurpose}}</span>
                                    </li>
                                    <li ng-show="item.Magic.Intelligence.SpecialPurpose.length > 0">
                                        <span>Dedicated Power: {{item.Magic.Intelligence.DedicatedPower}}</span>
                                    </li>
                                    <li>Personality: {{item.Magic.Intelligence.Personality.length > 0 ? item.Magic.Intelligence.Personality : 'None'}}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section PostBodyScripts {
    <script type="text/javascript">
        angular.module('app.equipment').factory('bootstrapData', function () {
            return { equipmentModel: @Html.Raw(Json.Encode(Model)) };
        });
    </script>
}