@{
    @model DNDGenSite.Models.EquipmentModel
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app='app.equipment'
}

@section Scripts {
    <script src="~/Scripts/app/shared/shared.module.js"></script>
    <script src="~/Scripts/app/shared/noDecimals.directive.js"></script>
    <script src="~/Scripts/app/equipment/equipment.module.js"></script>
    <script src="~/Scripts/app/equipment/equipmentService.js"></script>
    <script src="~/Scripts/app/equipment/equipment.js"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/equipment.css">
}

<div ng-controller="Equipment as vm">
    <h1>EquipmentGen</h1>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <form name="treasureForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <label for="treasureLevel" class="col-sm-4 control-label">Treasure Level:</label>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals id="treasureLevel" class="form-control" type="number" min="1" max="20" ng-model="vm.selectedLevels.treasure" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="treasureButton" type="button" class="btn btn-success" ng-click="vm.generateTreasure()" ng-disabled="treasureForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <form name="coinForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <label for="coinLevel" class="col-sm-4 control-label">Coin Level:</label>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals id="coinLevel" class="form-control" type="number" min="1" max="20" ng-model="vm.selectedLevels.coin" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="coinButton" type="button" class="btn btn-success" ng-click="vm.generateCoin()" ng-disabled="coinForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <form name="goodsForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <label for="goodsLevel" class="col-sm-4 control-label">Goods Level:</label>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals id="goodsLevel" class="form-control" type="number" min="1" max="20" ng-model="vm.selectedLevels.goods" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="goodsButton" type="button" class="btn btn-success" ng-click="vm.generateGoods()" ng-disabled="goodsForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <form name="itemsForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <label for="itemsLevel" class="col-sm-4 control-label">Items Level:</label>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals id="itemsLevel" class="form-control" type="number" min="1" max="20" ng-model="vm.selectedLevels.items" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="itemsButton" type="button" class="btn btn-success" ng-click="vm.generateItems()" ng-disabled="itemsForm.$invalid">Generate</button>
                    </div>
                </div>
            </form>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <span>Alchemical Item</span>
                    <button id="alchemicalItemButton" type="button" class="btn btn-success" ng-click="vm.generateAlchemicalItem()">Generate</button>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="armorForm">
                        <span>Armor</span>
                        Power: <select ng-model="vm.selectedPowers.armor" ng-options="power for power in vm.powers.armor" required></select>
                        <button id="armorButton" type="button" class="btn btn-success" ng-click="vm.generateArmor()" ng-disabled="armorForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="potionForm">
                        <span>Potion</span>
                        Power: <select ng-model="vm.selectedPowers.potion" ng-options="power for power in vm.powers.potion" required></select>
                        <button id="potionButton" type="button" class="btn btn-success" ng-click="vm.generatePotion()" ng-disabled="potionForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="ringForm">
                        <span>Ring</span>
                        Power: <select ng-model="vm.selectedPowers.ring" ng-options="power for power in vm.powers.ring" required></select>
                        <button id="ringButton" type="button" class="btn btn-success" ng-click="vm.generateRing()" ng-disabled="ringForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="rodForm">
                        <span>Rod</span>
                        Power: <select ng-model="vm.selectedPowers.rod" ng-options="power for power in vm.powers.rod" required></select>
                        <button id="rodButton" type="button" class="btn btn-success" ng-click="vm.generateRod()" ng-disabled="rodForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="scrollForm">
                        <span>Scroll</span>
                        Power: <select ng-model="vm.selectedPowers.scroll" ng-options="power for power in vm.powers.scroll" required></select>
                        <button id="scrollButton" type="button" class="btn btn-success" ng-click="vm.generateScroll()" ng-disabled="scrollForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="staffForm">
                        <span>Staff</span>
                        Power: <select ng-model="vm.selectedPowers.staff" ng-options="power for power in vm.powers.staff" required></select>
                        <button id="staffButton" type="button" class="btn btn-success" ng-click="vm.generateStaff()" ng-disabled="staffForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <span>Tool</span>
                    <button id="toolButton" type="button" class="btn btn-success" ng-click="vm.generateTool()">Generate</button>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="wandForm">
                        <span>Wand</span>
                        Power: <select ng-model="vm.selectedPowers.wand" ng-options="power for power in vm.powers.wand" required></select>
                        <button id="wandButton" type="button" class="btn btn-success" ng-click="vm.generateWand()" ng-disabled="wandForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="weaponForm">
                        <span>Weapon</span>
                        Power: <select ng-model="vm.selectedPowers.weapon" ng-options="power for power in vm.powers.weapon" required></select>
                        <button id="weaponButton" type="button" class="btn btn-success" ng-click="vm.generateWeapon()" ng-disabled="weaponForm.$invalid">Generate</button>
                    </form>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <form name="wondrousItemForm">
                        <span>Wondrous Item</span>
                        Power: <select ng-model="vm.selectedPowers.wondrousItem" ng-options="power for power in vm.powers.wondrousItem" required></select>
                        <button id="wondrousItemButton" type="button" class="btn btn-success" ng-click="vm.generateWondrousItem()" ng-disabled="wondrousItem.$invalid">Generate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span id="noTreasure" class="italicize" ng-hide="vm.treasure.Coin.Quantity > 0 || vm.treasure.Goods.length > 0 || vm.treasure.Items.length > 0">No treasure was generated</span>
            <span ng-show="vm.treasure.Coin.Quantity > 0">{{vm.treasure.Coin.Quantity | number}} {{vm.treasure.Coin.Currency}}</span>
            <div id="goodsWrapper" ng-show="vm.treasure.Goods.length > 0">
                <span>Goods:</span>
                <ul>
                    <li ng-repeat="good in vm.treasure.Goods track by $index">
                        {{good.Description}} ({{good.ValueInGold | number}}gp)
                    </li>
                </ul>
            </div>
            <div id="itemsWrapper" ng-show="vm.treasure.Items.length > 0">
                <span>Items:</span>
                <ul>
                    <li ng-repeat="item in vm.treasure.Items track by $index">
                        <span>{{item.Name}}</span> <span ng-show="item.Quantity > 1">(x{{item.Quantity}})</span>
                        <ul>
                            <li ng-show="item.Contents.length > 0">
                                <span>Contents:</span>
                                <ul>
                                    <li ng-repeat="content in item.Contents track by $index">{{content}}</li>
                                </ul>
                            </li>
                            <li ng-show="item.Traits.length > 0">
                                <span>Traits</span>
                                <ul>
                                    <li ng-repeat="trait in item.Traits track by $index">{{trait}}</li>
                                </ul>
                            </li>
                            <li ng-show="item.Magic.Bonus > 0">Bonus: +{{item.Magic.Bonus}}</li>
                            <li ng-show="item.Magic.SpecialAbilities.length > 0">
                                <span>Special Abilities:</span>
                                <ul>
                                    <li ng-repeat="ability in item.Magic.SpecialAbilities track by $index">
                                        <span>{{ability.Name}}</span> <span ng-show="ability.Strength > 5">({{ability.Strength}})</span>
                                    </li>
                                </ul>
                            <li ng-show="item.Magic.Charges > 0">Charges: {{item.Magic.Charges}}</li>
                            <li ng-show="item.Magic.Curse.length > 0">Curse: {{item.Magic.Curse}}</li>
                            <li ng-show="item.Magic.Intelligence.Ego > 0">
                                <span>Intelligent:</span>
                                <ul>
                                    <li>Ego: {{item.Magic.Intelligence.Ego}}</li>
                                    <li>Intelligence: {{item.Magic.Intelligence.IntelligenceStat}}</li>
                                    <li>Wisdom: {{item.Magic.Intelligence.WisdomStat}}</li>
                                    <li>Charisma: {{item.Magic.Intelligence.CharismaStat}}</li>
                                    <li>Alignment: {{item.Magic.Intelligence.Alignment}}</li>
                                    <li>
                                        <span>Communication:</span>
                                        <ul>
                                            <li ng-repeat="method in item.Magic.Intelligence.Communication track by $index">{{method}}</li>
                                            <li ng-show="item.Magic.Intelligence.Languages.length > 0">
                                                <span>Languages:</span>
                                                <ul>
                                                    <li ng-repeat="language in item.Magic.Intelligence.Languages">{{language}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Senses: {{item.Magic.Intelligence.Senses}}</li>
                                    <li>
                                        <span>Powers:</span>
                                        <ul>
                                            <li ng-repeat="power in item.Magic.Intelligence.Powers track by $index">{{power}}</li>
                                        </ul>
                                    </li>
                                    <li ng-show="item.Magic.Intelligence.SpecialPurpose.length > 0">
                                        <span>Special Purpose: {{item.Magic.Intelligence.SpecialPurpose}}</span>
                                        <span>Dedicated Power: {{item.Magic.Intelligence.edicatedPower}}</span>
                                    </li>
                                    <li>Personality: {{item.Magic.Intelligence.Personality.length > 0 ? item.Magic.Intelligence.Personality : 'None'}}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section PostBodyScripts {
    <script type="text/javascript">
        angular.module('app.equipment').factory('bootstrapData', function () {
            return { equipmentModel: @Html.Raw(Json.Encode(Model)) };
        });
    </script>
}