@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Welcome!</h1>
    <h3>This is the home of DNDGen - where you can quickly generate anything you need for an action-packed Dungeons and Dragons 3.X adventure!</h3>
    <p class="text-justify">Why did I make this site?  Well, in playing D&D for years, the start was always the most arduous part of the adventure: creating characters, building dungeons, assigning skills.  The most egregious violation of the "get going and play" mentality was if you randomly generated a battle, and the opponent was another character party.  Generating their stats, classes, races, feats, skills - let alone all their equipment - took hours.  It was not uncommon to hear, "A character party?  Nope, reroll."  This inspired me: the game rules are so rich in the many variants you can have (character subraces and class specialization, item intelligence and curses, etc.), that it is tragic that so many people skip over this trove for expediency.  With this website, I hope to relieve that problem.  Here, I generate items, characters, and even entire dungeons according to the rules - ALL of the rules, every rich little facet - so you don't have to.  A computer can generate these things in seconds instead of hours, leaving you more time to play.</p>
    <p class="text-justify">Credit where credit is due: none of the generated things you see here belong to me.  Everything, from the names of things to the rules that created them, belongs to <b>Tales of the Sword Coast</b>.  Their official site for Dungeons and Dragons is linked in the top right. See the manuals that TSR provides to find rules on how to play.</p>
</div>