<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albatross.Expression" version="1.2.1.100" targetFramework="net452" />
  <package id="CharacterGen" version="7.1.0" targetFramework="net46" />
  <package id="CharacterGen.Domain" version="7.1.0" targetFramework="net46" />
  <package id="DnDGen.RollGen" version="12.2" targetFramework="net452" />
  <package id="DnDGen.RollGen.Domain" version="12.2" targetFramework="net452" />
  <package id="DnDGen.TreasureGen" version="5.0.0" targetFramework="net46" />
  <package id="DnDGen.TreasureGen.Domain" version="5.0.0" targetFramework="net46" />
  <package id="DungeonGen" version="3.0.0" targetFramework="net46" />
  <package id="DungeonGen.Domain" version="3.0.1" targetFramework="net46" />
  <package id="EncounterGen" version="1.0.0" targetFramework="net46" />
  <package id="EncounterGen.Domain" version="1.0.0" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Octokit" version="0.22.0" targetFramework="net46" />
</packages>