.no-side-padding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.font-green {
    color: green;
}

.font-big {
    font-size: 10em;
}