*.suo
*.user
*.cache
*.sdf
TestResults
bin
obj
bin/
obj/
/bin
/obj
/bin/
/obj/
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
Installers/*/Express/*
CArtWebChart*.png
UpgradeLog.htm
*.sass-cache
*.orig
unit-specs.xml
e2e-results.xml
npm-debug.log
_Chutzpah.*.html