<div>
    <dndgen-collapsable-list heading="{{item.Name}} (x{{item.Quantity}})" has-list="hasList()">
        <ul>
            <li ng-show="item.Contents.length > 0">
                <dndgen-collapsable-list heading="Contents" has-list="true">
                    <ul>
                        <li ng-repeat="content in item.Contents track by $index">{{content}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
            <li ng-show="item.Traits.length > 0">
                <dndgen-collapsable-list heading="Traits" has-list="true">
                    <ul>
                        <li ng-repeat="trait in item.Traits track by $index">{{trait}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
            <li ng-show="item.Magic.Bonus > 0">Bonus: +{{item.Magic.Bonus}}</li>
            <li ng-show="item.Magic.SpecialAbilities.length > 0">
                <dndgen-collapsable-list heading="Special Abilities" has-list="true">
                    <ul>
                        <li ng-repeat="ability in item.Magic.SpecialAbilities track by $index">{{ability.Name}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
            <li ng-show="item.Attributes.indexOf('Charged') > -1">Charges: {{item.Magic.Charges}}</li>
            <li ng-show="item.Magic.Curse.length > 0">Curse: {{item.Magic.Curse}}</li>
            <li ng-show="item.Magic.Intelligence.Ego > 0">
                <dndgen-collapsable-list heading="Intelligence" has-list="true">
                    <ul>
                        <li>Ego: {{item.Magic.Intelligence.Ego}}</li>
                        <li>Intelligence: {{item.Magic.Intelligence.IntelligenceStat}}</li>
                        <li>Wisdom: {{item.Magic.Intelligence.WisdomStat}}</li>
                        <li>Charisma: {{item.Magic.Intelligence.CharismaStat}}</li>
                        <li>Alignment: {{item.Magic.Intelligence.Alignment}}</li>
                        <li>
                            <span>Communication:</span>
                            <ul>
                                <li ng-repeat="method in item.Magic.Intelligence.Communication track by $index">{{method}}</li>
                                <li ng-show="item.Magic.Intelligence.Languages.length > 0">
                                    <dndgen-collapsable-list heading="Languages" has-list="item.Magic.Intelligence.Languages.length > 0">
                                        <ul>
                                            <li ng-repeat="language in item.Magic.Intelligence.Languages">{{language}}</li>
                                        </ul>
                                    </dndgen-collapsable-list>
                                </li>
                            </ul>
                        </li>
                        <li>Senses: {{item.Magic.Intelligence.Senses}}</li>
                        <li>
                            <span>Powers:</span>
                            <ul>
                                <li ng-repeat="power in item.Magic.Intelligence.Powers track by $index">{{power}}</li>
                            </ul>
                        </li>
                        <li ng-show="item.Magic.Intelligence.SpecialPurpose.length > 0">
                            <span>Special Purpose: {{item.Magic.Intelligence.SpecialPurpose}}</span>
                        </li>
                        <li ng-show="item.Magic.Intelligence.SpecialPurpose.length > 0">
                            <span>Dedicated Power: {{item.Magic.Intelligence.DedicatedPower}}</span>
                        </li>
                        <li>Personality: {{item.Magic.Intelligence.Personality.length > 0 ? item.Magic.Intelligence.Personality : 'None'}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
            <li ng-show="item.TotalArmorBonus">
                <dndgen-collapsable-list heading="Armor" has-list="true">
                    <ul>
                        <li>Size: {{item.Size}}</li>
                        <li>Armor Bonus: {{item.TotalArmorBonus}}</li>
                        <li>Armor Check Penalty: {{item.TotalArmorCheckPenalty}}</li>
                        <li ng-show="item.TotalMaxDexterityBonus < 100">Max Dexterity Bonus: {{item.TotalMaxDexterityBonus}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
            <li ng-show="item.Damage">
                <dndgen-collapsable-list heading="Weapon" has-list="true">
                    <ul>
                        <li>Size: {{item.Size}}</li>
                        <li>Combat Types: {{item.CombatTypes.join(", ")}}</li>
                        <li>Damage: {{item.Damage}}</li>
                        <li>Damage Type: {{item.DamageType}}</li>
                        <li>Threat Range: {{item.ThreatRange}}</li>
                        <li>Critical Multiplier: {{item.CriticalMultiplier}}</li>
                        <li ng-show="item.Ammunition">Ammunition Used: {{item.Ammunition}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
        </ul>
    </dndgen-collapsable-list>
</div>
