<div>
    <span ng-show="treasure.Coin.Quantity > 0">{{treasure.Coin.Quantity | number}} {{treasure.Coin.Currency}}</span>
    <dndgen-collapsable-list ng-show="treasure.Goods.length > 0" heading="Goods" has-list="treasure.Goods.length > 0">
        <ul>
            <li ng-repeat="good in treasure.Goods track by $index">
                {{good.Description}} ({{good.ValueInGold | number}}gp)
            </li>
        </ul>
    </dndgen-collapsable-list>
    <dndgen-collapsable-list ng-show="treasure.Items.length > 0" heading="Items" has-list="treasure.Items.length > 0">
        <ul>
            <li ng-repeat="item in treasure.Items track by $index">
                <dndgen-item item="item"></dndgen-item>
            </li>
        </ul>
    </dndgen-collapsable-list>
</div>
