<dndgen-details class="item-header" heading="{{item.summary}} (x{{item.quantity}})" [hasDetails]="hasDetails()">
  <ul>
    @if (item.contents.length) {
      <li class="item-contents">
        <dndgen-details heading="Contents" [hasDetails]="true">
          <ul>
            @for (content of item.contents; track $index) {
              <li class="item-content">{{content}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    }
    @if (item.traits.length) {
      <li class="item-traits">
        <dndgen-details heading="Traits" [hasDetails]="true">
          <ul>
            @for (trait of item.traits; track $index) {
              <li class="item-trait">{{trait}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    }
    @if (item.magic.bonus) {
      <li class="item-magic-bonus">Bonus: {{item.magic.bonus | bonus}}</li>
    }
    @if (item.magic.specialAbilities.length) {
      <li class="item-magic-special-abilities">
        <dndgen-details heading="Special Abilities" [hasDetails]="true">
          <ul>
            @for (ability of item.magic.specialAbilities; track $index) {
              <li class="item-magic-special-ability">{{ability.name}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    }
    @if (item.attributes.indexOf('Charged') > -1) {
      <li class="item-magic-charges">Charges: {{item.magic.charges}}</li>
    }
    @if (item.magic.curse) {
      <li class="item-magic-curse">Curse: {{item.magic.curse}}</li>
    }
    @if (item.magic.intelligence.ego) {
      <li class="item-magic-intelligence">
        <dndgen-details heading="Intelligence" [hasDetails]="true">
          <ul class="item-magic-intelligence-details">
            <li>Ego: {{item.magic.intelligence.ego}}</li>
            <li>Intelligence: {{item.magic.intelligence.intelligenceStat}}</li>
            <li>Wisdom: {{item.magic.intelligence.wisdomStat}}</li>
            <li>Charisma: {{item.magic.intelligence.charismaStat}}</li>
            <li>Alignment: {{item.magic.intelligence.alignment}}</li>
            <li class="item-magic-intelligence-communication">
              <span>Communication:</span>
              <ul class="item-magic-intelligence-communication-details">
                @for (method of item.magic.intelligence.communication; track $index) {
                  <li>{{method}}</li>
                }
                @if (item.magic.intelligence.languages.length) {
                  <li class="item-magic-intelligence-languages">
                    <dndgen-details heading="Languages" [hasDetails]="item.magic.intelligence.languages.length > 0">
                      <ul>
                        @for (language of item.magic.intelligence.languages; track $index) {
                          <li>{{language}}</li>
                        }
                      </ul>
                    </dndgen-details>
                  </li>
                }
              </ul>
            </li>
            <li>Senses: {{item.magic.intelligence.senses}}</li>
            <li class="item-magic-intelligence-powers">
              <span>Powers:</span>
              <ul>
                @for (power of item.magic.intelligence.powers; track $index) {
                  <li class="item-magic-intelligence-power">{{power}}</li>
                }
              </ul>
            </li>
            @if (item.magic.intelligence.specialPurpose) {
              <li class="item-magic-intelligence-special-purpose">Special Purpose: {{item.magic.intelligence.specialPurpose}}</li>
              <li class="item-magic-intelligence-dedicated-power">Dedicated Power: {{item.magic.intelligence.dedicatedPower}}</li>
            }
            <li class="item-magic-intelligence-personality">Personality: {{personality}}</li>
          </ul>
        </dndgen-details>
      </li>
    }
    @if (isArmor()) {
      <li class="item-armor">
        <dndgen-details heading="Armor" [hasDetails]="true">
          <ul class="item-armor-details">
            <li>Size: {{armor.size}}</li>
            <li>Armor Bonus: {{armor.totalArmorBonus}}</li>
            <li>Armor Check Penalty: {{armor.totalArmorCheckPenalty}}</li>
            @if (armor.totalMaxDexterityBonus < 100) {
              <li class="item-armor-max-dex">Max Dexterity Bonus: {{armor.totalMaxDexterityBonus}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    } @else if (isWeapon()) {
      <li class="item-weapon">
        <dndgen-details heading="Weapon" [hasDetails]="true">
          <ul class="item-weapon-details">
            <li>Size: {{weapon.size}}</li>
            <li>Combat Types: {{weapon.combatTypes.join(", ")}}</li>
            <li>Damage: {{weapon.damageDescription}}</li>
            @if (weapon.isDoubleWeapon) {
              <li class="item-weapon-2nd-damage">Secondary Damage: {{weapon.secondaryDamageDescription}}</li>
            }
            <li>Threat Range: {{weapon.threatRangeDescription}}</li>
            <li>Critical Damage: {{weapon.criticalDamageDescription}}</li>
            @if (weapon.isDoubleWeapon) {
              <li class="item-weapon-2nd-crit">Secondary Critical Damage: {{weapon.secondaryCriticalDamageDescription}}</li>
            }
            @if (weapon.ammunition) {
              <li class="item-weapon-ammo">Ammunition Used: {{weapon.ammunition}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    }
  </ul>
</dndgen-details>