<dndgen-details class="item-header" heading="{{item.description}} (x{{item.quantity}})" [hasDetails]="hasDetails()">
  <ul>
    <li class="item-contents" [hidden-REPLACE-WITH-IF]="item.contents.length == 0">
      <dndgen-details heading="Contents" [hasDetails]="true">
        <ul>
          <li class="item-content" [*ngFor-REPLACE]="let content of item.contents">{{content}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="item-traits" [hidden-REPLACE-WITH-IF]="item.traits.length == 0">
      <dndgen-details heading="Traits" [hasDetails]="true">
        <ul>
          <li class="item-trait" [*ngFor-REPLACE]="let trait of item.traits">{{trait}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="item-magic-bonus" [hidden-REPLACE-WITH-IF]="item.magic.bonus == 0">Bonus: {{item.magic.bonus | bonus}}</li>
    <li class="item-magic-special-abilities" [hidden-REPLACE-WITH-IF]="item.magic.specialAbilities.length == 0">
      <dndgen-details heading="Special Abilities" [hasDetails]="true">
        <ul>
          <li class="item-magic-special-ability" [*ngFor-REPLACE]="let ability of item.magic.specialAbilities">{{ability.name}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="item-magic-charges" [hidden-REPLACE-WITH-IF]="item.attributes.indexOf('Charged') == -1">Charges: {{item.magic.charges}}</li>
    <li class="item-magic-curse" [hidden-REPLACE-WITH-IF]="item.magic.curse.length == 0">Curse: {{item.magic.curse}}</li>
    <li class="item-magic-intelligence" [hidden-REPLACE-WITH-IF]="item.magic.intelligence.ego == 0">
      <dndgen-details heading="Intelligence" [hasDetails]="true">
        <ul class="item-magic-intelligence-details">
          <li>Ego: {{item.magic.intelligence.ego}}</li>
          <li>Intelligence: {{item.magic.intelligence.intelligenceStat}}</li>
          <li>Wisdom: {{item.magic.intelligence.wisdomStat}}</li>
          <li>Charisma: {{item.magic.intelligence.charismaStat}}</li>
          <li>Alignment: {{item.magic.intelligence.alignment}}</li>
          <li class="item-magic-intelligence-communication">
            <span>Communication:</span>
            <ul class="item-magic-intelligence-communication-details">
              <li [*ngFor-REPLACE]="let method of item.magic.intelligence.communication">{{method}}</li>
              <li class="item-magic-intelligence-languages" [hidden-REPLACE-WITH-IF]="item.magic.intelligence.languages.length == 0">
                <dndgen-details heading="Languages" [hasDetails]="item.magic.intelligence.languages.length > 0">
                  <ul>
                    <li [*ngFor-REPLACE]="let language of item.magic.intelligence.languages">{{language}}</li>
                  </ul>
                </dndgen-details>
              </li>
            </ul>
          </li>
          <li>Senses: {{item.magic.intelligence.senses}}</li>
          <li class="item-magic-intelligence-powers">
            <span>Powers:</span>
            <ul>
              <li class="item-magic-intelligence-power" [*ngFor-REPLACE]="let power of item.magic.intelligence.powers">{{power}}</li>
            </ul>
          </li>
          <li class="item-magic-intelligence-special-purpose" [hidden-REPLACE-WITH-IF]="item.magic.intelligence.specialPurpose.length == 0">
            <span>Special Purpose: {{item.magic.intelligence.specialPurpose}}</span>
          </li>
          <li class="item-magic-intelligence-dedicated-power" [hidden-REPLACE-WITH-IF]="item.magic.intelligence.specialPurpose.length == 0">
            <span>Dedicated Power: {{item.magic.intelligence.dedicatedPower}}</span>
          </li>
          <li class="item-magic-intelligence-personality">Personality: {{personality}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="item-armor" [*ngIf-REPLACE]="isArmor()">
      <dndgen-details heading="Armor" [hasDetails]="true">
        <ul class="item-armor-details">
          <li>Size: {{armor.size}}</li>
          <li>Armor Bonus: {{armor.totalArmorBonus}}</li>
          <li>Armor Check Penalty: {{armor.totalArmorCheckPenalty}}</li>
          <li class="item-armor-max-dex" [hidden-REPLACE-WITH-IF]="armor.totalMaxDexterityBonus >= 100">Max Dexterity Bonus: {{armor.totalMaxDexterityBonus}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="item-weapon" [*ngIf-REPLACE]="isWeapon()">
      <dndgen-details heading="Weapon" [hasDetails]="true">
        <ul class="item-weapon-details">
          <li>Size: {{weapon.size}}</li>
          <li>Combat Types: {{weapon.combatTypes.join(", ")}}</li>
          <li>Damage: {{weapon.damageDescription}}</li>
          <li class="item-weapon-2nd-damage" [hidden-REPLACE-WITH-IF]="!weapon.isDoubleWeapon">Secondary Damage: {{weapon.secondaryDamageDescription}}</li>
          <li>Threat Range: {{weapon.threatRangeDescription}}</li>
          <li>Critical Damage: {{weapon.criticalDamageDescription}}</li>
          <li class="item-weapon-2nd-crit" [hidden-REPLACE-WITH-IF]="!weapon.isDoubleWeapon">Secondary Critical Damage: {{weapon.secondaryCriticalDamageDescription}}</li>
          <li class="item-weapon-ammo" [hidden-REPLACE-WITH-IF]="!weapon.ammunition">Ammunition Used: {{weapon.ammunition}}</li>
        </ul>
      </dndgen-details>
    </li>
  </ul>
</dndgen-details>