<div>
  @if (treasure.coin.quantity) {
    <span class="treasure-coin">{{treasure.coin.quantity | number}} {{treasure.coin.currency}}</span>
  } @else {
    <span class="treasure-no-coin">No coins</span>
  }
  <br />
  <dndgen-details class="treasure-goods" heading="Goods (x{{treasure.goods.length}})" [hasDetails]="treasure.goods.length > 0">
    <ul>
      @for (good of treasure.goods; track $index) {
        <li class="treasure-good">{{good.description}} ({{good.valueInGold | number}}gp)</li>
      }
    </ul>
  </dndgen-details>
  <br />
  <dndgen-details class="treasure-items" heading="Items (x{{treasure.items.length}})" [hasDetails]="treasure.items.length > 0">
    <ul>
      @for (item of treasure.items; track $index) {
        <li class="treasure-item">
          <dndgen-item [item]="item"></dndgen-item>
        </li>
      }
    </ul>
  </dndgen-details>
</div>
