<h1>TreasureGen</h1>
<dndgen-loading [isLoading]="loading" [size]="sizes.Large">
  <div class="row top-buffer">
    <div class="col-sm-6">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
          <a class="nav-link active" href="#treasure" aria-controls="treasure" role="tab" data-bs-toggle="tab" aria-selected="true">Treasure</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link" href="#item" aria-controls="item" role="tab" data-bs-toggle="tab" aria-selected="false">Item</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="treasure">
          <form name="treasureForm" #treasureForm="ngForm" class="form-horizontal top-buffer" role="form">
            <div class="form-group row">
              <label for="treasureTypes" class="col-sm-3 col-form-label">Treasure Type:</label>
              <div class="col-sm-6">
                @if (treasureModel) {
                  <select id="treasureTypes" 
                          name="treasureTypes"
                          class="form-select" 
                          (change)="validateTreasure(treasureType, level)" 
                          [(ngModel)]="treasureType" 
                          required>
                    @for (treasureTypeOption of treasureModel.treasureTypes; track treasureTypeOption) {
                      <option [ngValue]="treasureTypeOption">{{treasureTypeOption}}</option>
                    }
                  </select>
                }
              </div>
            </div>
            <div class="form-group row">
              <label for="treasureLevel" class="col-sm-3 col-form-label">Level:</label>
              <div class="col-sm-6">
                @if (treasureModel) {
                  <input id="treasureLevel"
                         name="treasureLevel"
                         pattern="^[0-9]+$"
                         class="form-control"
                         type="number"
                         min="1"
                         max="{{treasureModel.maxTreasureLevel}}"
                         [(ngModel)]="level"
                         (input)="validateTreasure(treasureType, level)"
                         required />
                }
              </div>
            </div>
            <button id="treasureButton"
                    type="button"
                    class="btn btn-success d-flex justify-content-center"
                    (click)="generateTreasure()"
                    [disabled]="!treasureForm.form.valid || generating || validating || !validTreasure">
              Generate
            </button>
            <dndgen-loading id="treasureValidating" [isLoading]="validating" [size]="sizes.Small"></dndgen-loading>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="item">
          <form name="itemForm" #itemForm="ngForm" class="form-horizontal top-buffer" role="form">
            <div class="form-group row">
              <label for="itemTypes" class="col-sm-3 col-form-label">Item Type:</label>
              <div class="col-sm-4">
                @if (treasureModel) {
                  <select id="itemTypes" 
                          name="itemTypes"
                          class="form-select" 
                          (change)="validateItemAndResetName(itemType!.itemType, power, '')" 
                          [(ngModel)]="itemType" 
                          required>
                    @for (itemTypeOption of treasureModel.itemTypeViewModels; track itemTypeOption) {
                      <option [ngValue]="itemTypeOption">{{itemTypeOption.displayName}}</option>
                    }
                  </select>
                }
              </div>
            </div>
            <div class="form-group row">
              <label for="powers" class="col-sm-3 col-form-label">Power:</label>
              <div class="col-sm-3">
                @if (treasureModel) {
                  <select id="powers" 
                          name="powers"
                          class="form-select" 
                          (change)="validateItem(itemType!.itemType, power, itemName)" 
                          [(ngModel)]="power" 
                          required>
                    @for (powerOption of treasureModel.powers; track $index) {
                      <option [ngValue]="powerOption">{{powerOption}}</option>
                    }
                  </select>
                }
              </div>
              <div class="col-sm-6">
                @if (itemType && itemType!.itemType != 'Wand' && itemType!.itemType != 'Scroll') { 
                  <select id="itemNames"
                          name="itemNames"
                          class="form-select"
                          (change)="validateItem(itemType!.itemType, power, itemName)" 
                          [(ngModel)]="itemName">
                    <option [ngValue]=""></option>
                    @for (nameOption of itemNames; track $index) {
                      <option [ngValue]="nameOption">{{nameOption}}</option>
                    }
                  </select>
                } @else if (itemType && (itemType!.itemType == 'Wand' || itemType!.itemType == 'Scroll')) {
                  <input id="anyItemName"
                         name="anyItemName"
                         class="form-control"
                         type="text"
                         (input)="validateItem(itemType!.itemType, power, itemName)" 
                         [(ngModel)]="itemName" />
                }
              </div>
            </div>
            <button id="itemButton"
                    type="button"
                    class="btn btn-success d-flex justify-content-center"
                    (click)="generateItem()"
                    [disabled]="!itemForm.form.valid || generating || validating || !validItem">
              Generate
            </button>
            <dndgen-loading id="itemValidating" [isLoading]="validating" [size]="sizes.Small"></dndgen-loading>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      @if (!generating) {
        @if (treasure) {
          <button id="downloadTreasureButton" class="btn btn-light btn-lg float-end" (click)="downloadTreasure()">Download</button>
        } @else if (item) {
          <button id="downloadItemButton" class="btn btn-light btn-lg float-end" (click)="downloadItem()">Download</button>
        } 
        <div id="treasureSection">
          @if (!treasure && !item) {
            <span id="noTreasure" class="italicize">No treasure was generated</span>
          } @else if (treasure) {
            <dndgen-treasure [treasure]="treasure!"></dndgen-treasure>
          } @else if (item) {
            <dndgen-item [item]="item!"></dndgen-item>
          }
        </div>
      }
      <dndgen-loading id="generatingSection" [isLoading]="generating" [size]="sizes.Medium"></dndgen-loading>
    </div>
  </div>
</dndgen-loading>