@model DnDGen.Web.Models.CharacterViewModel

@section ngApp {
    ng-app='app.character'
}

@section Scripts {
    <script src="~/js/treasure/treasure.module.js"></script>
    <script src="~/js/treasure/item.directive.js"></script>
    <script src="~/js/treasure/treasure.directive.js"></script>
    <script src="~/js/treasure/treasureFormatter.service.js"></script>
    <script src="~/js/character/character.module.js"></script>
    <script src="~/js/character/randomizer.service.js"></script>
    <script src="~/js/character/leadership.service.js"></script>
    <script src="~/js/character/character.service.js"></script>
    <script src="~/js/character/characterFormatter.service.js"></script>
    <script src="~/js/character/character.controller.js"></script>
    <script src="~/js/character/characterWithoutLeadership.directive.js"></script>
    <script src="~/js/character/character.directive.js"></script>
}

<div ng-controller="Character as vm">
    <h1>CharacterGen</h1>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <form name="characterForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group row">
                    <label for="alignmentRandomizerTypes" class="col-sm-4 col-form-label">Alignment Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="alignmentRandomizerTypes" class="form-select" ng-model="vm.alignmentRandomizerType" ng-options="alignmentRandomizerType for alignmentRandomizerType in vm.characterModel.alignmentRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4">
                        <select id="setAlignments" class="form-select" ng-show="vm.alignmentRandomizerType == 'Set'" ng-model="vm.setAlignment" ng-options="alignment for alignment in vm.characterModel.alignments" ng-required="vm.alignmentRandomizerType == 'Set'"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="classNameRandomizerTypes" class="col-sm-4 col-form-label">Class Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="classNameRandomizerTypes" class="form-select" ng-model="vm.classNameRandomizerType" ng-options="classNameRandomizerType for classNameRandomizerType in vm.characterModel.classNameRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4">
                        <select id="setClassNames" class="form-select" ng-show="vm.classNameRandomizerType == 'Set'" ng-model="vm.setClassName" ng-options="className for className in vm.characterModel.classNames" ng-required="vm.classNameRandomizerType == 'Set'"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="levelRandomizerTypes" class="col-sm-4 col-form-label">Level Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="levelRandomizerTypes" class="form-select" ng-model="vm.levelRandomizerType" ng-options="levelRandomizerType for levelRandomizerType in vm.characterModel.levelRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4">
                        <input dndgen-no-decimals ng-show="vm.levelRandomizerType == 'Set'" id="setLevel" class="form-control" type="number" min="0" max="20" ng-model="vm.setLevel" ng-required="vm.levelRandomizerType == 'Set'" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="baseRaceRandomizerTypes" class="col-sm-4 col-form-label">Base Race Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="baseRaceRandomizerTypes" class="form-select" ng-model="vm.baseRaceRandomizerType" ng-options="baseRaceRandomizerType for baseRaceRandomizerType in vm.characterModel.baseRaceRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4">
                        <select id="setBaseRaces" class="form-select" ng-show="vm.baseRaceRandomizerType == 'Set'" ng-model="vm.setBaseRace" ng-options="baseRace for baseRace in vm.characterModel.baseRaces" ng-required="vm.baseRaceRandomizerType == 'Set'"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="metaraceRandomizerTypes" class="col-sm-4 col-form-label">Metarace Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="metaraceRandomizerTypes" class="form-select" ng-model="vm.metaraceRandomizerType" ng-options="metaraceRandomizerType for metaraceRandomizerType in vm.characterModel.metaraceRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4" ng-hide="vm.metaraceRandomizerType == 'Set' || vm.metaraceRandomizerType == 'No Meta'">
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" ng-model="vm.forceMetarace"> Force
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="vm.metaraceRandomizerType == 'Set'">
                        <select id="setMetaraces" class="form-select" ng-model="vm.setMetarace" ng-options="metarace for metarace in vm.characterModel.metaraces" ng-required="vm.metaraceRandomizerType == 'Set'"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="abilitiesRandomizerType" class="col-sm-4 col-form-label">Abilities Randomizer:</label>
                    <div class="col-sm-4">
                        <select id="abilitiesRandomizerType" class="form-select" ng-model="vm.abilitiesRandomizerType" ng-options="abilitiesRandomizerType for abilitiesRandomizerType in vm.characterModel.abilitiesRandomizerTypes" required></select>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox-inline" ng-show="vm.abilitiesRandomizerType == 'Set'">
                            <label>
                                <input type="checkbox" ng-model="vm.allowAbilitiesAdjustments"> Allow Adjustments
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row" ng-show="vm.abilitiesRandomizerType == 'Set'">
                    <label for="setStrength" class="col-sm-2 col-form-label">Strength:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setStrength" class="form-control" type="number" min="0" ng-model="vm.setStrength" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                    <label for="setConstitution" class="col-sm-2 col-form-label">Constitution:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setConstitution" class="form-control" type="number" min="0" ng-model="vm.setConstitution" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                    <label for="setDexterity" class="col-sm-2 col-form-label">Dexterity:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setDexterity" class="form-control" type="number" min="0" ng-model="vm.setDexterity" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                </div>
                <div class="form-group row" ng-show="vm.abilitiesRandomizerType == 'Set'">
                    <label for="setIntelligence" class="col-sm-2 col-form-label">Intelligence:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setIntelligence" class="form-control" type="number" min="0" ng-model="vm.setIntelligence" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                    <label for="setWisdom" class="col-sm-2 col-form-label">Wisdom:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setWisdom" class="form-control" type="number" min="0" ng-model="vm.setWisdom" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                    <label for="setCharisma" class="col-sm-2 col-form-label">Charisma:</label>
                    <div class="col-sm-2">
                        <input dndgen-no-decimals id="setCharisma" class="form-control" type="number" min="0" ng-model="vm.setCharisma" ng-required="vm.abilitiesRandomizerType == 'Set'" />
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="generateButton" type="button" class="btn btn-success" ng-click="vm.generate()" ng-disabled="characterForm.$invalid || vm.generating || vm.verifying || vm.compatible == false">Generate</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 clearfix">
            <button class="btn btn-light btn-lg float-end" ng-click="vm.download()" ng-show="!vm.generating && vm.character">Download</button>
            <div id="generatingSection" ng-show="vm.generating">
                <span>{{vm.generatingMessage}}</span>
                <dndgen-event-log client-id="vm.clientId" is-logging="vm.generating"></dndgen-event-log>
            </div>
            <div ng-hide="vm.generating">
                <span id="noCharacter" class="italicize" ng-hide="vm.character">No character has been generated</span>
                <dndgen-character character="vm.character" leadership="vm.leadership" cohort="vm.cohort" followers="vm.followers" ng-show="vm.character"></dndgen-character>
            </div>
        </div>
    </div>
</div>

@section PostBodyScripts {
    <script type="text/javascript">
        angular.module('app.character').factory('bootstrapData', function () {
            return { characterModel: @Html.Raw(Json.Serialize(Model)) };
        });
    </script>
}