.body-content {
  padding-top: 70px;
}

.full-body {
  background-color: wheat;
}

.top-buffer {
  margin-top: 10px;
}

.padding-right {
  padding-right: .5em;
  margin-right: .5em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: black;
  background-color: #c8b592 !important;
  border-color: black;
}

.nav-tabs {
  border-color: black;
}

  .nav-tabs > li > a {
    color: black;
  }

    .nav-tabs > li > a:hover {
      background-color: #dec9a2 !important;
      border-color: black;
    }

.console {
  font-family: Courier;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 10px;
}
