<div>
    <dndgen-character-without-leadership character="character"></dndgen-character-without-leadership>
    <div ng-show="leadership.Score > 0">
        <span ng-show="leadership.Score > 0">Leadership:</span>
        <ul>
            <li>Score: {{leadership.Score | number}}</li>
            <li ng-show="leadership.LeadershipModifiers.length > 0">
                <span>Leadership Modifiers:</span>
                <ul>
                    <li ng-repeat="modifier in leadership.LeadershipModifiers track by $index">{{modifier}}</li>
                </ul>
            </li>
            <li ng-show="cohort">
                <span>Cohort:</span>
                <dndgen-character-without-leadership character="cohort"></dndgen-character-without-leadership>
            </li>
            <li ng-show="followers.length > 0">
                <span>Followers:</span>
                <ul>
                    <li ng-repeat="follower in followers track by $index">
                        <dndgen-character-without-leadership character="follower"></dndgen-character-without-leadership>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
