<h1>TreasureGen</h1>
<div class="row top-buffer">
  <div class="col-sm-6">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a class="nav-link active" href="#treasure" aria-controls="treasure" role="tab" data-bs-toggle="tab" aria-selected="true">Treasure</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" href="#item" aria-controls="item" role="tab" data-bs-toggle="tab" aria-selected="false">Item</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="treasure">
        <form name="treasureForm" #treasureForm="ngForm" class="form-horizontal top-buffer" role="form">
          <div class="form-group row">
            <label for="treasureTypes" class="col-sm-3 col-form-label">Treasure Type:</label>
            <div class="col-sm-6">
              <select id="treasureTypes" class="form-select" (input)="validateTreasure(treasureType, level)" [(ngModel)]="treasureType" name="treasureType" required>
                <option *ngFor="let treasureTypeOption of treasureModel.treasureTypes" [ngValue]="treasureTypeOption">{{treasureTypeOption}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="treasureLevel" class="col-sm-3 col-form-label">Level:</label>
            <div class="col-sm-6">
              <input id="treasureLevel"
                     pattern="^[0-9]+$"
                     class="form-control"
                     type="number"
                     min="1"
                     max="{{treasureModel.maxTreasureLevel}}"
                     [(ngModel)]="level"
                     (input)="validateTreasure(treasureType, level)"
                     required />
            </div>
          </div>
          <button id="treasureButton"
                  type="button"
                  class="btn btn-success d-flex justify-content-center"
                  (click)="generateTreasure()"
                  [disabled]="!treasureForm.form.valid || generating || validating || !validTreasure">
            Generate
          </button>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="item">
        <form name="itemForm" #itemForm="ngForm" class="form-horizontal top-buffer" role="form">
          <div class="form-group row">
            <label for="itemTypes" class="col-sm-3 col-form-label">Item Type:</label>
            <div class="col-sm-4">
              <select id="itemTypes" class="form-select" (input)="updateItemNames(itemType!)" [(ngModel)]="itemType" name="itemType" required>
                <option *ngFor="let itemTypeOption of treasureModel.itemTypeViewModels" [ngValue]="itemTypeOption">{{itemTypeOption.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="powers" class="col-sm-3 col-form-label">Power:</label>
            <div class="col-sm-3">
              <select id="powers" class="form-select" (input)="validateItem(itemType!.itemType, power, itemName)" [(ngModel)]="power" name="power" required>
                <option *ngFor="let powerOption of treasureModel.powers" [ngValue]="powerOption">{{powerOption}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <select id="itemNames" 
                      class="form-select"
                      (input)="validateItem(itemType!.itemType, power, itemName)" 
                      [(ngModel)]="itemName" 
                      name="itemName" 
                      [hidden]="itemType!.itemType == 'Wand' || itemType!.itemType == 'Scroll'" 
                      required>
                <option *ngFor="let nameOption of itemNames" [ngValue]="nameOption">{{nameOption}}</option>
              </select>
              <input id="anyItemName"
                     class="form-control"
                     type="text"
                     [(ngModel)]="itemName"
                     [hidden]="itemType!.itemType != 'Wand' && itemType!.itemType != 'Scroll'" />
            </div>
          </div>
          <button id="itemButton"
                  type="button"
                  class="btn btn-success d-flex justify-content-center"
                  (click)="generateItem()"
                  [disabled]="!itemForm.form.valid || generating || validating || !validItem">
            Generate
          </button>
          <span id="validatingSection" [hidden]="!validating">
            <img style="width: 50px; height: auto;" src="~/loading-dice.svg" />
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6 clearfix">
    <button class="btn btn-light btn-lg float-end" [hidden]="generating || validating || !treasure || !treasure.isAny" (click)="downloadTreasure()">Download</button>
    <button class="btn btn-light btn-lg float-end" [hidden]="generating || validating || !item" (click)="downloadItem()">Download</button>
    <div id="treasureSection" [hidden]="generating">
      <span id="noTreasure" class="italicize" [hidden]="(treasure && treasure.isAny) || item">No treasure was generated</span>
      <dndgen-treasure [treasure]="treasure!" [hidden]="!treasure || !treasure.isAny"></dndgen-treasure>
      <dndgen-item [item]="item!" [hidden]="!item"></dndgen-item>
    </div>
    <span id="generatingSection" [hidden]="!generating">
      <img style="width: 300px; height: auto;" src="~/loading-dice.svg" />
    </span>
  </div>
</div>