<div>
  <span [hidden]="treasure.coin.quantity == 0">{{treasure.coin.quantity | number}} {{treasure.coin.currency}}</span>
  <dndgen-details [hidden]="treasure.goods.length == 0" heading="Goods" [hasDetails]="treasure.goods.length > 0">
    <ul>
      <li *ngFor="let good of treasure.goods">
        {{good.description}} ({{good.valueInGold | number}}gp)
      </li>
    </ul>
  </dndgen-details>
  <dndgen-details [hidden]="treasure.items.length == 0" heading="Items" [hasDetails]="treasure.items.length > 0">
    <ul>
      <li *ngFor="let item of treasure.items">
        <dndgen-item [item]="item"></dndgen-item>
      </li>
    </ul>
  </dndgen-details>
</div>
