<dndgen-details class="character-header" [heading]="character.summary" [hasDetails]="true">
  <ul>
    <li class="character-combat">
      <dndgen-details heading="Combat" [hasDetails]="true">
        <ul>
          <li class="character-combat-hitpoints">Hit Points: {{character.combat.hitPoints | number}}</li>
          <li class="character-combat-ac">
            <span>Armor Class: {{character.combat.armorClass.full}} {{character.combat.armorClass.circumstantialBonus ? '*' : ''}}</span>
            <ul>
              <li>Flat-Footed: {{character.combat.armorClass.flatFooted}}</li>
              <li>Touch: {{character.combat.armorClass.touch}}</li>
            </ul>
          </li>
          <li class="character-combat-ba">
            <span>Base Attack: {{character.combat.baseAttack.baseBonus}}</span>
            <ul>
              <li>Melee: {{character.combat.baseAttack.allMeleeBonuses[0] | bonus}}<span *ngFor="let bonus of character.combat.baseAttack.allMeleeBonuses | slice:1">/{{bonus | bonus}}</span> <span [hidden]="!character.combat.baseAttack.circumstantialBonus">*</span></li>
              <li>Ranged: {{character.combat.baseAttack.allRangedBonuses[0] | bonus}}<span *ngFor="let bonus of character.combat.baseAttack.allRangedBonuses | slice:1">/{{bonus | bonus}}</span> <span [hidden]="!character.combat.baseAttack.circumstantialBonus">*</span></li>
            </ul>
          </li>
          <li>Initiative Bonus: {{character.combat.initiativeBonus | bonus}}</li>
          <li>
            <span>Saving Throws:</span>
            <ul>
              <li [hidden]="!character.combat.savingThrows.hasFortitudeSave">Fortitude: {{character.combat.savingThrows.fortitude | bonus}}</li>
              <li>Reflex: {{character.combat.savingThrows.reflex | bonus}}</li>
              <li>Will: {{character.combat.savingThrows.will | bonus}}</li>
              <li [hidden]="!character.combat.savingThrows.circumstantialBonus">Circumstantial Bonus</li>
            </ul>
          </li>
          <li>Adjusted Dexterity Bonus: {{character.combat.adjustedDexterityBonus | bonus}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li>Challenge Rating: {{character.challengeRating}}</li>
    <li>Alignment: {{character.alignment.full}}</li>
    <li>
      <dndgen-details [heading]="character['class'].summary" [hasDetails]="character['class'].specialistFields.length > 0 || character['class'].prohibitedFields.length > 0">
        <ul>
          <li [hidden]="character['class'].specialistFields.length == 0">
            <dndgen-details heading="Specialist Fields" [hasDetails]="character['class'].specialistFields.length > 0">
              <ul>
                <li *ngFor="let field of character['class'].specialistFields">{{field}}</li>
              </ul>
            </dndgen-details>
          </li>
          <li [hidden]="character['class'].prohibitedFields.length == 0">
            <dndgen-details heading="Prohibited Fields" [hasDetails]="character['class'].prohibitedFields.length > 0">
              <ul>
                <li *ngFor="let field of character['class'].prohibitedFields">{{field}}</li>
              </ul>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
    <li>
      <dndgen-details [heading]="character.race.summary" [hasDetails]="true">
        <ul>
          <li [hidden]="character.race.metaraceSpecies.length == 0">Metarace Species: {{character.race.metaraceSpecies}}</li>
          <li>Land Speed: {{character.race.landSpeed.value}} {{character.race.landSpeed.unit}} <span [hidden]="!character.race.landSpeed.description">({{character.race.landSpeed.description}})</span></li>
          <li [hidden]="!character.race.hasWings">Has Wings</li>
          <li [hidden]="!character.race.aerialSpeed.value">Aerial Speed: {{character.race.aerialSpeed.value}} {{character.race.aerialSpeed.unit}} <span [hidden]="!character.race.aerialSpeed.description">({{character.race.aerialSpeed.description}})</span></li>
          <li [hidden]="!character.race.swimSpeed.value">Swim Speed: {{character.race.swimSpeed.value}} {{character.race.swimSpeed.unit}} <span [hidden]="!character.race.swimSpeed.description">({{character.race.swimSpeed.description}})</span></li>
          <li>Size: {{character.race.size}}</li>
          <li>Age: {{character.race.age.value | number}} {{character.race.age.unit}} <span [hidden]="!character.race.age.description">({{character.race.age.description}})</span></li>
          <li>Maximum Age: <span [hidden]="character.race.maximumAge.value == 0">{{character.race.maximumAge.value | number}} {{character.race.maximumAge.unit}}</span> <span [hidden]="!character.race.maximumAge.description">({{character.race.maximumAge.description}})</span></li>
          <li>Height: {{character.race.height.value | inchesToFeet}} <span [hidden]="!character.race.height.description">({{character.race.height.description}})</span></li>
          <li>Weight: {{character.race.weight.value | number}} {{character.race.weight.unit}} <span [hidden]="!character.race.weight.description">({{character.race.weight.description}})</span></li>
        </ul>
      </dndgen-details>
    </li>
    <li>
      <dndgen-details heading="Abilities" [hasDetails]="true">
        <ul>
          <li>Strength: {{character.abilities.Strength.value}} ({{character.abilities.Strength.bonus | bonus}})</li>
          <li *ngIf="character.abilities.Constitution">Constitution: {{character.abilities.Constitution!.value}} ({{character.abilities.Constitution!.bonus | bonus}})</li>
          <li>Dexterity: {{character.abilities.Dexterity.value}} ({{character.abilities.Dexterity.bonus | bonus}})</li>
          <li>Intelligence: {{character.abilities.Intelligence.value}} ({{character.abilities.Intelligence.bonus | bonus}})</li>
          <li>Wisdom: {{character.abilities.Wisdom.value}} ({{character.abilities.Wisdom.bonus | bonus}})</li>
          <li>Charisma: {{character.abilities.Charisma.value}} ({{character.abilities.Charisma.bonus | bonus}})</li>
        </ul>
      </dndgen-details>
    </li>
    <li>
      <dndgen-details heading="Languages" [hasDetails]="true">
        <ul>
          <li *ngFor="let language of character.languages">{{language}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li>
      <dndgen-details heading="Skills" [hasDetails]="true">
        <table class="table table-striped">
          <thead>
          <th scope="col">Class Skill</th>
          <th scope="col">Skill</th>
          <th scope="col">Total Bonus</th>
          <th scope="col">Ranks</th>
          <th scope="col">Ability Bonus</th>
          <th scope="col">Other Bonus</th>
          <th scope="col">Armor Check Penalty</th>
          </thead>
          <tbody>
            <tr *ngFor="let skill of character.skills">
              <td><i [hidden]="!skill.classSkill" class="bi bi-check-lg"></i></td>
              <td>{{skill.name}} <span [hidden]="!skill.focus">({{skill.focus}})</span></td>
              <td><b>{{skill.totalBonus | bonus}} <span [hidden]="!skill.circumstantialBonus">*</span></b></td>
              <td>{{skill.effectiveRanks}}</td>
              <td>{{skill.baseAbility.bonus}}</td>
              <td>{{skill.bonus}}</td>
              <td>{{skill.armorCheckPenalty}}</td>
            </tr>
          </tbody>
        </table>
      </dndgen-details>
    </li>
    <li>
      <dndgen-details heading="Feats" [hasDetails]="true">
        <ul>
          <li [hidden]="character.feats.racial.length == 0">
            <dndgen-details heading="Racial" [hasDetails]="character.feats.racial.length > 0">
              <ul>
                <li *ngFor="let feat of character.feats.racial">
                  <dndgen-details [heading]="feat.name" [hasDetails]="feat.foci.length > 0 || feat.power > 0 || feat.frequency.timePeriod.length > 0">
                    <ul>
                      <li [hidden]="feat.foci.length == 0">
                        <dndgen-details heading="Foci" [hasDetails]="feat.foci.length > 0">
                          <ul>
                            <li *ngFor="let focus of feat.foci">{{focus}}</li>
                          </ul>
                        </dndgen-details>
                      </li>
                      <li [hidden]="feat.power == 0">Power: {{feat.power}}</li>
                      <li [hidden]="feat.frequency.timePeriod.length == 0">Frequency: {{feat.frequency.quantity > 0 ? feat.frequency.quantity + '/' : ''}}{{feat.frequency.timePeriod}}</li>
                    </ul>
                  </dndgen-details>
                </li>
              </ul>
            </dndgen-details>
          </li>
          <li [hidden]="character.feats['class'].length == 0">
            <dndgen-details heading="Class" [hasDetails]="character.feats['class'].length > 0">
              <ul>
                <li *ngFor="let feat of character.feats['class']">
                  <dndgen-details [heading]="feat.name" [hasDetails]="feat.foci.length > 0 || feat.power > 0 || feat.frequency.timePeriod.length > 0">
                    <ul>
                      <li [hidden]="feat.foci.length == 0">
                        <dndgen-details heading="Foci" [hasDetails]="feat.foci.length > 0">
                          <ul>
                            <li *ngFor="let focus of feat.foci">{{focus}}</li>
                          </ul>
                        </dndgen-details>
                      </li>
                      <li [hidden]="feat.power == 0">Power: {{feat.power}}</li>
                      <li [hidden]="feat.frequency.timePeriod.length == 0">Frequency: {{feat.frequency.quantity > 0 ? feat.frequency.quantity + '/' : ''}}{{feat.frequency.timePeriod}}</li>
                    </ul>
                  </dndgen-details>
                </li>
              </ul>
            </dndgen-details>
          </li>
          <li [hidden]="character.feats.additional.length == 0">
            <dndgen-details heading="Additional" [hasDetails]="character.feats.additional.length > 0">
              <ul>
                <li *ngFor="let feat of character.feats.additional">
                  <dndgen-details [heading]="feat.name" [hasDetails]="feat.foci.length > 0 || feat.power > 0 || feat.frequency.timePeriod.length > 0">
                    <ul>
                      <li [hidden]="feat.foci.length == 0">
                        <dndgen-details heading="Foci" [hasDetails]="feat.foci.length > 0">
                          <ul>
                            <li *ngFor="let focus of feat.foci">{{focus}}</li>
                          </ul>
                        </dndgen-details>
                      </li>
                      <li [hidden]="feat.power == 0">Power: {{feat.power}}</li>
                      <li [hidden]="feat.frequency.timePeriod.length == 0">Frequency: {{feat.frequency.quantity > 0 ? feat.frequency.quantity + '/' : ''}}{{feat.frequency.timePeriod}}</li>
                    </ul>
                  </dndgen-details>
                </li>
              </ul>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
    <li>Interesting Trait: {{character.interestingTrait.length > 0 ? character.interestingTrait : 'None'}}</li>
    <li [hidden]="character.magic.spellsPerDay.length == 0">
      <dndgen-details heading="Spells Per Day" [hasDetails]="character.magic.spellsPerDay.length > 0">
        <ul>
          <li *ngFor="let spellLevel of character.magic.spellsPerDay">Level {{spellLevel.level}} {{spellLevel.source}}: {{spellLevel.quantity}} {{spellLevel.hasDomainSpell ? '+ 1' : ''}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li [hidden]="character.magic.knownSpells.length == 0">
      <dndgen-details heading="Known Spells" [hasDetails]="character.magic.knownSpells.length > 0">
        <ul>
          <li *ngFor="let spell of character.magic.knownSpells">Level {{spell.level}} {{spell.source}}: {{spell.name}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li [hidden]="character.magic.preparedSpells.length == 0">
      <dndgen-details heading="Prepared Spells" [hasDetails]="character.magic.preparedSpells.length > 0">
        <ul>
          <li *ngFor="let spell of character.magic.preparedSpells">Level {{spell.level}} {{spell.source}}: {{spell.name}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li [hidden]="character.magic.arcaneSpellFailure == 0">Arcane Spell Failure: {{character.magic.arcaneSpellFailure}}%</li>
    <li [hidden]="character.magic.animal.length == 0">Animal: {{character.magic.animal}}</li>
    <li>
      <dndgen-details heading="Equipment" [hasDetails]="true">
        <ul>
          <li>
            <dndgen-details heading="Primary Hand{{character.equipment.primaryHand ? '' : ': None'}}" [hasDetails]="character.equipment.primaryHand != null">
              <dndgen-item *ngIf="character.equipment.primaryHand" [item]="character.equipment.primaryHand"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <span [hidden]="character.equipment.offHand">Off Hand: None</span>
            <span [hidden]="character.equipment.primaryHand.attributes.indexOf('Two-Handed') == -1">Off Hand: (Two-Handed)</span>
            <dndgen-details heading="Off Hand" [hasDetails]="character.equipment.offHand != null && character.equipment.primaryHand.attributes.indexOf('Two-Handed') == -1" [hidden]="!character.equipment.offHand || character.equipment.primaryHand.attributes.indexOf('Two-Handed') > -1">
              <dndgen-item *ngIf="character.equipment.offHand" [item]="character.equipment.offHand"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <dndgen-details heading="Armor{{character.equipment.armor ? '' : ': None'}}" [hasDetails]="character.equipment.armor != null">
              <dndgen-item *ngIf="character.equipment.armor" [item]="character.equipment.armor"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <dndgen-details heading="Treasure{{character.equipment.treasure.isAny ? '' : ': None'}}" [hasDetails]="character.equipment.treasure.isAny">
              <dndgen-treasure *ngIf="character.equipment.treasure.isAny" [treasure]="character.equipment.treasure"></dndgen-treasure>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
  </ul>
</dndgen-details>
