<dndgen-details class="encounter-header" [heading]="encounter.description" [hasDetails]="true">
  <span class="encounter-level-target">Target Encounter Level: {{encounter.targetEncounterLevel}}</span>
  <br />
  <span class="encounter-level-average">Average Encounter Level: {{encounter.averageEncounterLevel}} ({{encounter.averageDifficulty}})</span>
  <br />
  <span class="encounter-level-actual">Actual Encounter Level: {{encounter.actualEncounterLevel}} ({{encounter.actualDifficulty}})</span>
  <div class="encounter-creatures">
      <dndgen-details heading="Creatures" [hasDetails]="true">
          <ul>
            @for (creature of encounter.creatures; track $index) {
                <li>
                    <dndgen-details [heading]="creature | encounterCreature" [hasDetails]="true">
                        <ul>
                            @if (creature.creature.subCreature) {
                                <li>
                                    <dndgen-details [heading]="creature.creature.subCreature | creature" [hasDetails]="creature.creature.subCreature.subCreature != null">
                                        <ul>
                                            @if (creature.creature.subCreature.subCreature) {
                                                <li>{{creature.creature.subCreature.subCreature | creature}}</li>
                                            }
                                        </ul>
                                    </dndgen-details>
                                </li>
                            }
                            <li class="encounter-creature-cr">Challenge Rating: {{creature.challengeRating}}</li>
                        </ul>
                    </dndgen-details>
                </li>
            }
          </ul>
      </dndgen-details>
  </div>
  <div class="encounter-treasures">
      <dndgen-details heading="Treasures{{encounter.treasures.length ? '' : ': None'}}" [hasDetails]="encounter.treasures.length > 0">
          <ul>
            @for (treasure of encounter.treasures; track $index) {
                <li>
                    <dndgen-treasure [treasure]="treasure"></dndgen-treasure>
                </li>
            }
          </ul>
      </dndgen-details>
  </div>
  <div class="encounter-characters">
      @if (encounter.characters.length) {
        <dndgen-details heading="Characters" [hasDetails]="encounter.characters.length > 0">
            <ul>
              @for (character of encounter.characters; track $index) {
                  <li>
                      <dndgen-character [character]="character"></dndgen-character>
                  </li>
              }
            </ul>
        </dndgen-details>
      }
  </div>
</dndgen-details>

<dndgen-details heading="{{area.type}}" [hasDetails]="true">
    <ul>
        @if (area.descriptions.length > 0) {
            <li>
                <dndgen-details heading="Descriptions" [hasDetails]="area.descriptions.length > 0">
                    <ul>
                        @for (description of area.descriptions; track $index) {
                            <li>{{description}}</li>
                        }
                    </ul>
                </dndgen-details>
            </li>
        }
        @if (area.length > 0 && area.width == 0) {
            <li>continues {{area.length | number}}'</li>
        } @else if (area.length > 0 && area.width == 1) {
            <li>about {{area.length | number}} square feet</li>
        } @else if (area.length > 0) {
            <li>{{area.length | number}}' x {{area.width | number}}'</li>
        }
        @if (!area.contents.isEmpty) {
            <li>
                <dndgen-details heading="Contents" [hasDetails]="!area.contents.isEmpty">
                    <ul>
                        @for (misc of area.contents.miscellaneous; track $index) {
                            <li>{{misc}}</li>
                        }
                        @if (area.contents.pool) {
                            <li>
                                <dndgen-details heading="Pool" [hasDetails]="area.contents.pool.encounter != null || area.contents.pool.treasure != null || area.contents.pool.magicPower.length > 0">
                                    <ul>
                                        @if (area.contents.pool.encounter) {
                                            <li>
                                                <dndgen-encounter [encounter]="area.contents.pool.encounter!"></dndgen-encounter>
                                            </li>
                                        }
                                        @if (area.contents.pool.treasure) {
                                            <li>
                                                <dndgen-dungeon-treasure [dungeonTreasure]="area.contents.pool.treasure!"></dndgen-dungeon-treasure>
                                            </li>
                                        }
                                        @if (area.contents.pool.magicPower) {
                                            <li>{{area.contents.pool.magicPower}}</li>
                                        }
                                    </ul>
                                </dndgen-details>
                            </li>
                        }
                        @if (area.contents.traps.length) {
                            <li>
                                <dndgen-details heading="Traps" [hasDetails]="area.contents.traps.length > 0">
                                    <ul>
                                        @for (trap of area.contents.traps; track $index) {
                                            <li>
                                                <dndgen-details heading="{{trap.name}}" [hasDetails]="true">
                                                    <ul>
                                                        @for (description of trap.descriptions; track $index) {
                                                            <li>{{description}}</li>
                                                        }
                                                        <li>Challenge Rating: {{trap.challengeRating}}</li>
                                                        <li>Search DC: {{trap.searchDc}}</li>
                                                        <li>Disable Device DC: {{trap.disableDeviceDc}}</li>
                                                    </ul>
                                                </dndgen-details>
                                            </li>
                                        }
                                    </ul>
                                </dndgen-details>
                            </li>
                        }
                        @if (area.contents.encounters.length) {
                            <li>
                                <dndgen-details heading="Encounters" [hasDetails]="area.contents.encounters.length > 0">
                                    <ul>
                                        @for (encounter of area.contents.encounters; track $index) {
                                            <li>
                                                <dndgen-encounter [encounter]="encounter"></dndgen-encounter>
                                            </li>
                                        }
                                    </ul>
                                </dndgen-details>
                            </li>
                        }
                        @if () {
                            
                        }
                        <li ng-show="area.contents.treasures.length > 0">
                            <dndgen-details heading="Treasures" [hasDetails]="area.contents.treasures.length > 0">
                                <ul>
                                    <li ng-repeat="treasure in area.contents.treasures">
                                        <dndgen-dungeon-treasure dungeon-treasure="treasure"></dndgen-dungeon-treasure>
                                    </li>
                                </ul>
                            </dndgen-details>
                        </li>
                    </ul>
                </dndgen-details>
            </li>
        }
    </ul>
</dndgen-details>