<h1>CharacterGen</h1>
<div class="row top-buffer">
  <div class="col-sm-6">
    <form name="characterForm" #characterForm="ngForm" class="form-horizontal top-buffer" role="form">
      <div class="form-group row">
        <label for="alignmentRandomizerTypes" class="col-sm-4 col-form-label">Alignment Randomizer:</label>
        <div class="col-sm-4">
          <select id="alignmentRandomizerTypes" class="form-select" (input)="validate()" [(ngModel)]="alignmentRandomizerType" required>
            <option *ngFor="let alignmentRandomizerType of characterModel.alignmentRandomizerTypes" [ngValue]="alignmentRandomizerType">{{alignmentRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select id="setAlignments" class="form-select" [hidden]="alignmentRandomizerType != 'Set'" [(ngModel)]="setAlignment" [required]="alignmentRandomizerType == 'Set'">
            <option *ngFor="let alignment of characterModel.alignments" [ngValue]="alignment">{{alignment}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="classNameRandomizerTypes" class="col-sm-4 col-form-label">Class Randomizer:</label>
        <div class="col-sm-4">
          <select id="classNameRandomizerTypes" class="form-select" [(ngModel)]="classNameRandomizerType" required>
            <option *ngFor="let classNameRandomizerType of characterModel.classNameRandomizerTypes" [ngValue]="classNameRandomizerType">{{classNameRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select id="setClassNames" class="form-select" [hidden]="classNameRandomizerType != 'Set'" [(ngModel)]="setClassName" [required]="classNameRandomizerType == 'Set'">
            <option *ngFor="let className of characterModel.classNames" [ngValue]="className">{{className}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="levelRandomizerTypes" class="col-sm-4 col-form-label">Level Randomizer:</label>
        <div class="col-sm-4">
          <select id="levelRandomizerTypes" class="form-select" [(ngModel)]="levelRandomizerType" required>
            <option *ngFor="let levelRandomizerType of characterModel.levelRandomizerTypes" [ngValue]="levelRandomizerType">{{levelRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input pattern="^[0-9]+$" [hidden]="levelRandomizerType != 'Set'" id="setLevel" class="form-control" type="number" min="0" max="20" [(ngModel)]="setLevel" [required]="levelRandomizerType == 'Set'" />
        </div>
      </div>
      <div class="form-group row">
        <label for="baseRaceRandomizerTypes" class="col-sm-4 col-form-label">Base Race Randomizer:</label>
        <div class="col-sm-4">
          <select id="baseRaceRandomizerTypes" class="form-select" [(ngModel)]="baseRaceRandomizerType" required>
            <option *ngFor="let baseRaceRandomizerType of characterModel.baseRaceRandomizerTypes" [ngValue]="baseRaceRandomizerType">{{baseRaceRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select id="setBaseRaces" class="form-select" [hidden]="baseRaceRandomizerType != 'Set'" [(ngModel)]="setBaseRace" [required]="baseRaceRandomizerType == 'Set'">
            <option *ngFor="let baseRace of characterModel.baseRaces" [ngValue]="baseRace">{{baseRace}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="metaraceRandomizerTypes" class="col-sm-4 col-form-label">Metarace Randomizer:</label>
        <div class="col-sm-4">
          <select id="metaraceRandomizerTypes" class="form-select" [(ngModel)]="metaraceRandomizerType" required>
            <option *ngFor="let metaraceRandomizerType of characterModel.metaraceRandomizerTypes" [ngValue]="metaraceRandomizerType">{{metaraceRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4" [hidden]="metaraceRandomizerType == 'Set' || metaraceRandomizerType == 'No Meta'">
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" [(ngModel)]="forceMetarace"> Force
            </label>
          </div>
        </div>
        <div class="col-sm-4" [hidden]="metaraceRandomizerType != 'Set'">
          <select id="setMetaraces" class="form-select" [(ngModel)]="setMetarace" [required]="metaraceRandomizerType == 'Set'">
            <option *ngFor="let metarace of characterModel.metaraces" [ngValue]="metarace">{{metarace}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="abilitiesRandomizerType" class="col-sm-4 col-form-label">Abilities Randomizer:</label>
        <div class="col-sm-4">
          <select id="abilitiesRandomizerType" class="form-select" [(ngModel)]="abilitiesRandomizerType" required>
            <option *ngFor="let abilitiesRandomizerType of characterModel.abilitiesRandomizerTypes" [ngValue]="abilitiesRandomizerType">{{abilitiesRandomizerType}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <div class="checkbox-inline" [hidden]="abilitiesRandomizerType != 'Set'">
            <label>
              <input type="checkbox" [(ngModel)]="allowAbilitiesAdjustments"> Allow Adjustments
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" [hidden]="abilitiesRandomizerType != 'Set'">
        <label for="setStrength" class="col-sm-2 col-form-label">Strength:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setStrength" class="form-control" type="number" min="0" [(ngModel)]="setStrength" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
        <label for="setConstitution" class="col-sm-2 col-form-label">Constitution:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setConstitution" class="form-control" type="number" min="0" [(ngModel)]="setConstitution" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
        <label for="setDexterity" class="col-sm-2 col-form-label">Dexterity:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setDexterity" class="form-control" type="number" min="0" [(ngModel)]="setDexterity" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
      </div>
      <div class="form-group row" [hidden]="abilitiesRandomizerType != 'Set'">
        <label for="setIntelligence" class="col-sm-2 col-form-label">Intelligence:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setIntelligence" class="form-control" type="number" min="0" [(ngModel)]="setIntelligence" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
        <label for="setWisdom" class="col-sm-2 col-form-label">Wisdom:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setWisdom" class="form-control" type="number" min="0" [(ngModel)]="setWisdom" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
        <label for="setCharisma" class="col-sm-2 col-form-label">Charisma:</label>
        <div class="col-sm-2">
          <input pattern="^[0-9]+$" id="setCharisma" class="form-control" type="number" min="0" [(ngModel)]="setCharisma" [required]="abilitiesRandomizerType == 'Set'" />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button id="generateButton" type="button" class="btn btn-success" (click)="generate()" [disabled]="characterForm.form.invalid || generating || verifying || !compatible">Generate</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6 clearfix">
    <button class="btn btn-light btn-lg float-end" (click)="download()" [hidden]="generating || !character">Download</button>
    <div id="generatingSection" [hidden]="!generating">
      <span>{{generatingMessage}}</span>
      <dndgen-event-log [clientId]="clientId" [isLogging]="generating"></dndgen-event-log>
    </div>
    <div [hidden]="generating">
      <span id="noCharacter" class="italicize" [hidden]="character">No character has been generated</span>
      <dndgen-leader [character]="character" [leadership]="leadership" [cohort]="cohort" [followers]="followers" [hidden]="!character"></dndgen-leader>
    </div>
  </div>
</div>
