<dndgen-details class="character-header" [heading]="character.summary" [hasDetails]="true">
  <ul>
    <li class="character-combat">
      <dndgen-details heading="Combat" [hasDetails]="true">
        <ul>
          <li class="character-combat-hitpoints">Hit Points: {{character.combat.hitPoints | number}}</li>
          <li class="character-combat-ac">
            <span>Armor Class: {{character.combat.armorClass.full | bonus: character.combat.armorClass.circumstantialBonus: false}}</span>
            <ul>
              <li>Flat-Footed: {{character.combat.armorClass.flatFooted}}</li>
              <li>Touch: {{character.combat.armorClass.touch}}</li>
            </ul>
          </li>
          <li class="character-combat-ba">
            <span>Base Attack: {{character.combat.baseAttack.baseBonus | bonus}}</span>
            <ul>
              <li>Melee: {{character.combat.baseAttack.allMeleeBonuses | bonuses: character.combat.baseAttack.circumstantialBonus}}</li>
              <li>Ranged: {{character.combat.baseAttack.allRangedBonuses | bonuses: character.combat.baseAttack.circumstantialBonus}}</li>
            </ul>
          </li>
          <li class="character-combat-initiative">Initiative Bonus: {{character.combat.initiativeBonus | bonus}}</li>
          <li class="character-combat-saves">
            <span>Saving Throws:</span>
            <ul>
              <li class="character-combat-saves-fort" 
                  [hidden]="!character.combat.savingThrows.hasFortitudeSave">Fortitude: {{character.combat.savingThrows.fortitude | bonus}}</li>
              <li class="character-combat-saves-ref">Reflex: {{character.combat.savingThrows.reflex | bonus}}</li>
              <li class="character-combat-saves-will">Will: {{character.combat.savingThrows.will | bonus}}</li>
              <li class="character-combat-saves-condition" [hidden]="!character.combat.savingThrows.circumstantialBonus">Circumstantial Bonus</li>
            </ul>
          </li>
          <li class="character-combat-adj-dex">Adjusted Dexterity Bonus: {{character.combat.adjustedDexterityBonus | bonus}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-cr">Challenge Rating: {{character.challengeRating}}</li>
    <li class="character-alignment">Alignment: {{character.alignment.full}}</li>
    <li class="character-class">
      <dndgen-details [heading]="character['class'].summary" [hasDetails]="character['class'].specialistFields.length > 0 || character['class'].prohibitedFields.length > 0">
        <ul>
          <li class="character-class-specialist" [hidden]="character['class'].specialistFields.length == 0">
            <dndgen-details heading="Specialist Fields" [hasDetails]="character['class'].specialistFields.length > 0">
              <ul>
                <li *ngFor="let field of character['class'].specialistFields">{{field}}</li>
              </ul>
            </dndgen-details>
          </li>
          <li class="character-class-prohibited" [hidden]="character['class'].prohibitedFields.length == 0">
            <dndgen-details heading="Prohibited Fields" [hasDetails]="character['class'].prohibitedFields.length > 0">
              <ul>
                <li *ngFor="let field of character['class'].prohibitedFields">{{field}}</li>
              </ul>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-race">
      <dndgen-details [heading]="character.race.summary" [hasDetails]="true">
        <ul>
          <li class="character-race-metarace-species" [hidden]="character.race.metaraceSpecies.length == 0">Metarace Species: {{character.race.metaraceSpecies}}</li>
          <li class="character-race-speed-land">Land Speed: {{character.race.landSpeed | measurement}}</li>
          <li class="character-race-wings" [hidden]="!character.race.hasWings">Has Wings</li>
          <li class="character-race-speed-air" [hidden]="!character.race.aerialSpeed.value">Aerial Speed: {{character.race.aerialSpeed | measurement}}</li>
          <li class="character-race-speed-swim" [hidden]="!character.race.swimSpeed.value">Swim Speed: {{character.race.swimSpeed | measurement}}</li>
          <li class="character-race-size">Size: {{character.race.size}}</li>
          <li class="character-race-age">Age: {{character.race.age | measurement}}</li>
          <li class="character-race-age-max">Maximum Age: {{character.race.maximumAge | measurement}}</li>
          <li class="character-race-height">Height: {{character.race.height | measurement}}</li>
          <li class="character-race-weight">Weight: {{character.race.weight | measurement}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-abilities">
      <dndgen-details heading="Abilities" [hasDetails]="true">
        <ul>
          <li>Strength: {{character.abilities.Strength.value}} ({{character.abilities.Strength.bonus | bonus}})</li>
          <li *ngIf="character.abilities.Constitution">Constitution: {{character.abilities.Constitution!.value}} ({{character.abilities.Constitution!.bonus | bonus}})</li>
          <li>Dexterity: {{character.abilities.Dexterity.value}} ({{character.abilities.Dexterity.bonus | bonus}})</li>
          <li>Intelligence: {{character.abilities.Intelligence.value}} ({{character.abilities.Intelligence.bonus | bonus}})</li>
          <li>Wisdom: {{character.abilities.Wisdom.value}} ({{character.abilities.Wisdom.bonus | bonus}})</li>
          <li>Charisma: {{character.abilities.Charisma.value}} ({{character.abilities.Charisma.bonus | bonus}})</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-languages">
      <dndgen-details heading="Languages" [hasDetails]="true">
        <ul>
          <li *ngFor="let language of character.languages">{{language}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-skills">
      <dndgen-details heading="Skills" [hasDetails]="true">
        <table class="table table-striped">
          <thead>
          <th scope="col">Class Skill</th>
          <th scope="col">Skill</th>
          <th scope="col">Total Bonus</th>
          <th scope="col">Ranks</th>
          <th scope="col">Ability Bonus</th>
          <th scope="col">Other Bonus</th>
          <th scope="col">Armor Check Penalty</th>
          </thead>
          <tbody>
            <tr *ngFor="let skill of character.skills">
              <td><i [hidden]="!skill.classSkill" class="bi bi-check-lg"></i></td>
              <td>{{skill.displayName}}</td>
              <td style="font-weight: bold;">{{skill.totalBonus | bonus: skill.circumstantialBonus}}</td>
              <td>{{skill.effectiveRanks}}</td>
              <td>{{skill.baseAbility.bonus}}</td>
              <td>{{skill.bonus}}</td>
              <td>{{skill.armorCheckPenalty}}</td>
            </tr>
          </tbody>
        </table>
      </dndgen-details>
    </li>
    <li class="character-feats">
      <dndgen-details heading="Feats" [hasDetails]="true">
        <ul>
          <li class="character-feats-racial" [hidden]="character.feats.racial.length == 0">
            <dndgen-details heading="Racial" [hasDetails]="character.feats.racial.length > 0">
              <ul>
                <li class="character-feat-racial" *ngFor="let feat of character.feats.racial">
                  <dndgen-feat [feat]="feat"></dndgen-feat>
                </li>
              </ul>
            </dndgen-details>
          </li>
          <li class="character-feats-class" [hidden]="character.feats['class'].length == 0">
            <dndgen-details heading="Class" [hasDetails]="character.feats['class'].length > 0">
              <ul>
                <li class="character-feat-class" *ngFor="let feat of character.feats['class']">
                  <dndgen-feat [feat]="feat"></dndgen-feat>
                </li>
              </ul>
            </dndgen-details>
          </li>
          <li class="character-feats-additional" [hidden]="character.feats.additional.length == 0">
            <dndgen-details heading="Additional" [hasDetails]="character.feats.additional.length > 0">
              <ul>
                <li class="character-feat-additional" *ngFor="let feat of character.feats.additional">
                  <dndgen-feat [feat]="feat"></dndgen-feat>
                </li>
              </ul>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-trait">Interesting Trait: {{character.interestingTrait.length > 0 ? character.interestingTrait : 'None'}}</li>
    <li class="character-spells-per-day" [hidden]="character.magic.spellsPerDay.length == 0">
      <dndgen-details heading="Spells Per Day" [hasDetails]="character.magic.spellsPerDay.length > 0">
        <ul>
          <li *ngFor="let spellLevel of character.magic.spellsPerDay">{{spellLevel | spellQuantity}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-spells-known" [hidden]="character.magic.knownSpells.length == 0">
      <dndgen-details heading="Known Spells" [hasDetails]="character.magic.knownSpells.length > 0">
        <ul>
          <li *ngFor="let spell of character.magic.knownSpells">Level {{spell.level}} {{spell.source}}: {{spell.name}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-spells-prepared" [hidden]="character.magic.preparedSpells.length == 0">
      <dndgen-details heading="Prepared Spells" [hasDetails]="character.magic.preparedSpells.length > 0">
        <ul>
          <li *ngFor="let spell of character.magic.preparedSpells">Level {{spell.level}} {{spell.source}}: {{spell.name}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="character-spells-failure" [hidden]="character.magic.arcaneSpellFailure == 0">Arcane Spell Failure: {{character.magic.arcaneSpellFailure}}%</li>
    <li class="character-animal" [hidden]="character.magic.animal.length == 0">Animal: {{character.magic.animal}}</li>
    <li class="character-equipment">
      <dndgen-details heading="Equipment" [hasDetails]="true">
        <ul>
          <li>
            <dndgen-details heading="Primary Hand{{character.equipment.primaryHand ? '' : ': None'}}" [hasDetails]="character.equipment.primaryHand != null">
              <dndgen-item *ngIf="character.equipment.primaryHand" [item]="character.equipment.primaryHand"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <span [hidden]="character.equipment.offHand">Off Hand: None</span>
            <span [hidden]="!isTwoHanded()">Off Hand: (Two-Handed)</span>
            <dndgen-details heading="Off Hand" [hasDetails]="character.equipment.offHand != null && !isTwoHanded()" [hidden]="!character.equipment.offHand || isTwoHanded()">
              <dndgen-item *ngIf="character.equipment.offHand" [item]="character.equipment.offHand"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <dndgen-details heading="Armor{{character.equipment.armor ? '' : ': None'}}" [hasDetails]="character.equipment.armor != null">
              <dndgen-item *ngIf="character.equipment.armor" [item]="character.equipment.armor"></dndgen-item>
            </dndgen-details>
          </li>
          <li>
            <dndgen-details heading="Treasure{{character.equipment.treasure.isAny ? '' : ': None'}}" [hasDetails]="character.equipment.treasure.isAny">
              <dndgen-treasure *ngIf="character.equipment.treasure.isAny" [treasure]="character.equipment.treasure"></dndgen-treasure>
            </dndgen-details>
          </li>
        </ul>
      </dndgen-details>
    </li>
  </ul>
</dndgen-details>
