<dndgen-details class="feat-heading" [heading]="feat.name" [hasDetails]="feat.foci.length > 0 || feat.power > 0 || feat.frequency.timePeriod.length > 0">
  <ul>
    @if (feat.foci.length) {
      <li class="feat-foci">
        <dndgen-details heading="Foci" [hasDetails]="feat.foci.length > 0">
          <ul>
            @for (focus of feat.foci; track $index) {
              <li>{{focus}}</li>
            }
          </ul>
        </dndgen-details>
      </li>
    }
    @if (feat.power) {
      <li class="feat-power">Power: {{feat.power}}</li>
    }
    @if (feat.frequency.timePeriod) {
      <li class="feat-frequency">Frequency: {{feat.frequency | frequency}}</li>
    }
  </ul>
</dndgen-details>