<dndgen-details class="leadership-heading" [hidden]="leadership!.score == 0" heading="Leadership" [hasDetails]="leadership!.score > 0">
  <ul>
    <li class="leadership-score">Score: {{leadership!.score | number}}</li>
    <li class="leadership-modifiers" [hidden]="leadership!.leadershipModifiers.length == 0">
      <dndgen-details heading="Leadership Modifiers" [hasDetails]="leadership!.leadershipModifiers.length > 0">
        <ul>
          <li *ngFor="let modifier of leadership!.leadershipModifiers">{{modifier}}</li>
        </ul>
      </dndgen-details>
    </li>
    <li class="leadership-cohort" *ngIf="cohort">
      <span>Cohort:</span>
      <div>
        <dndgen-character [character]="cohort!"></dndgen-character>
      </div>
    </li>
    <li class="leadership-followers" [hidden]="followers.length == 0">
      <dndgen-details heading="Followers" [hasDetails]="followers.length > 0">
        <ul>
          <li *ngFor="let follower of followers">
            <dndgen-character [character]="follower"></dndgen-character>
          </li>
        </ul>
      </dndgen-details>
    </li>
  </ul>
</dndgen-details>
