@if (leadership!.score) {
  <dndgen-details class="leadership-heading" heading="Leadership" [hasDetails]="leadership!.score > 0">
    <ul>
      <li class="leadership-score">Score: {{leadership!.score | number}}</li>
      @if (leadership!.leadershipModifiers.length) {
        <li class="leadership-modifiers">
          <dndgen-details heading="Leadership Modifiers" [hasDetails]="leadership!.leadershipModifiers.length > 0">
            <ul>
              @for (modifier of leadership!.leadershipModifiers; track $index) {
                <li>{{modifier}}</li>
              }
            </ul>
          </dndgen-details>
        </li>
      }
      @if (cohort) {
        <li class="leadership-cohort">
          <span>Cohort:</span>
          <div>
            <dndgen-character [character]="cohort!"></dndgen-character>
          </div>
        </li>
      }
      @if (followers.length) {
        <li class="leadership-followers">
          <dndgen-details heading="Followers" [hasDetails]="followers.length > 0">
            <ul>
              @for (follower of followers; track $index) {
                <li>
                  <dndgen-character [character]="follower"></dndgen-character>
                </li>
              }
            </ul>
          </dndgen-details>
        </li>
      }
    </ul>
  </dndgen-details>
}
