<dndgen-collapsable-list heading="{{encounter.description.length ? encounter.description : 'Encounter CR ' + encounter.actualEncounterLevel }}" has-list="true">
    <span>Target Encounter Level: {{encounter.targetEncounterLevel}}</span>
    <br />
    <span>Average Encounter Level: {{encounter.averageEncounterLevel}} ({{encounter.averageDifficulty}})</span>
    <br />
    <span>Actual Encounter Level: {{encounter.actualEncounterLevel}} ({{encounter.actualDifficulty}})</span>
    <div>
        <dndgen-collapsable-list heading="Creatures" has-list="true">
            <ul>
                <li ng-repeat="creature in encounter.creatures">
                    <dndgen-collapsable-list heading="{{creature.creature.name}} {{creature.creature.description ? '(' + creature.creature.description + ')' : ''}} x{{creature.quantity}}" has-list="true">
                        <ul>
                            <li ng-show="creature.creature.subCreature">
                                <dndgen-collapsable-list heading="{{creature.creature.subCreature.name}} {{creature.creature.subCreature.description ? '(' + creature.creature.subCreature.description + ')' : ''}}" has-list="creature.creature.subCreature.subCreature">
                                    <ul>
                                        <li ng-show="creature.creature.subCreature.subCreature">
                                            <span>{{creature.creature.subCreature.subCreature.name}} {{creature.creature.subCreature.subCreature.description ? '(' + creature.creature.subCreature.subCreature.description + ')' : ''}}</span>
                                        </li>
                                    </ul>
                                </dndgen-collapsable-list>
                            </li>
                            <li>Challenge Rating: {{creature.challengeRating}}</li>
                        </ul>
                    </dndgen-collapsable-list>
                </li>
            </ul>
        </dndgen-collapsable-list>
    </div>
    <div>
        <dndgen-collapsable-list heading="Treasures{{encounter.treasures.length ? '' : ': None'}}" has-list="encounter.treasures.length > 0">
            <ul>
                <li ng-repeat="treasure in encounter.treasures">
                    <dndgen-treasure treasure="treasure"></dndgen-treasure>
                </li>
            </ul>
        </dndgen-collapsable-list>
    </div>
    <div>
        <dndgen-collapsable-list ng-show="encounter.characters.length" heading="Characters" has-list="true">
            <ul>
                <li ng-repeat="character in encounter.characters">
                    <dndgen-character character="character"></dndgen-character>
                </li>
            </ul>
        </dndgen-collapsable-list>
    </div>
</dndgen-collapsable-list>