<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a id="rootLink" class="navbar-brand" [routerLink]="['/']">DnDGen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a id="rollLink" class="nav-link" [routerLink]="['/roll']">RollGen</a></li>
          <li class="nav-item"><a id="treasureLink" class="nav-link" [routerLink]="['/treasure']">TreasureGen</a></li>
          <li class="nav-item"><a id="characterLink" class="nav-link" [routerLink]="['/character']">CharacterGen</a></li>
          <li class="nav-item"><a id="encounterLink" class="nav-link" [routerLink]="['/encounter']">EncounterGen</a></li>
          <li class="nav-item"><a id="dungeonLink" class="nav-link" [routerLink]="['/dungeon']">DungeonGen</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" id="githubLinks">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">GitHub <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-dark" role="menu">
              <li><a id="dndgenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen">The DnDGen Project</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a id="rollgenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/RollGen">RollGen</a></li>
              <li><a id="treasuregenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/TreasureGen">TreasureGen</a></li>
              <li><a id="charactergenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/CharacterGen">CharacterGen</a></li>
              <li><a id="encountergenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/EncounterGen">EncounterGen</a></li>
              <li><a id="dungeongenCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/DungeonGen">DungeonGen</a></li>
              <li><a id="websiteCodeLink" class="dropdown-item" target="_blank" href="https://github.com/DnDGen/DnDGen.Web">This Site</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" id="apiLinks">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">API <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-dark" role="menu">
              <li><a id="rollgenApiLink" class="dropdown-item" target="_blank" href="https://roll.dndgen.com/api/swagger/ui">RollGen</a></li>
              <li><a id="treasuregenApiLink" class="dropdown-item" target="_blank" href="https://treasure.dndgen.com/api/swagger/ui">TreasureGen</a></li>
              <li><a id="charactergenApiLink" class="dropdown-item" target="_blank" href="https://character.dndgen.com/api/swagger/ui">CharacterGen</a></li>
              <li><a id="encountergenApiLink" class="dropdown-item" target="_blank" href="https://encounter.dndgen.com/api/swagger/ui">EncounterGen</a></li>
              <li><a id="dungeongenApiLink" class="dropdown-item" target="_blank" href="https://dungeon.dndgen.com/api/swagger/ui">DungeonGen</a></li>
            </ul>
          </li>
          <li class="nav-item padding-right" id="officialLink">
            <a id="dndOfficialLink" class="nav-link" target="_blank" href="http://dnd.wizards.com/">Official D&D Site</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
