<div>
    <span>Target Encounter Level: {{encounter.TargetEncounterLevel}}</span><br />
    <span>Average Encounter Level: {{encounter.AverageEncounterLevel}} ({{encounter.AverageDifficulty}})</span><br />
    <span>Actual Encounter Level: {{encounter.ActualEncounterLevel}} ({{encounter.ActualDifficulty}})</span>
    <dndgen-collapsable-list heading="Creatures" has-list="true">
        <ul>
            <li ng-repeat="creature in encounter.Creatures">
                <dndgen-collapsable-list heading="{{creature.Type.Name}} {{creature.Type.Description ? '(' + creature.Type.Description + ')' : ''}} x{{creature.Quantity}}" has-list="true">
                    <ul>
                        <li ng-show="creature.Type.SubType">
                            <dndgen-collapsable-list heading="{{creature.Type.SubType.Name}} {{creature.Type.SubType.Description ? '(' + creature.Type.SubType.Description + ')' : ''}}" has-list="creature.Type.SubType.SubType">
                                <ul>
                                    <li ng-show="creature.Type.SubType.SubType">
                                        <span>{{creature.Type.SubType.SubType.Name}} {{creature.Type.SubType.SubType.Description ? '(' + creature.Type.SubType.SubType.Description + ')' : ''}}</span>
                                    </li>
                                </ul>
                            </dndgen-collapsable-list>
                        </li>
                        <li>Challenge Rating: {{creature.ChallengeRating}}</li>
                    </ul>
                </dndgen-collapsable-list>
            </li>
        </ul>
    </dndgen-collapsable-list>
    <dndgen-collapsable-list heading="Treasures{{encounter.Treasures.length ? '' : ': None'}}" has-list="encounter.Treasures.length > 0">
        <ul>
            <li ng-repeat="treasure in encounter.Treasures">
                <dndgen-treasure treasure="treasure"></dndgen-treasure>
            </li>
        </ul>
    </dndgen-collapsable-list>
    <dndgen-collapsable-list ng-show="encounter.Characters.length" heading="Characters" has-list="true">
        <ul>
            <li ng-repeat="character in encounter.Characters">
                <dndgen-character-without-leadership character="character"></dndgen-character-without-leadership>
            </li>
        </ul>
    </dndgen-collapsable-list>
</div>
