<div>
    <span>Creatures:</span>
    <ul>
        <li ng-repeat="creature in encounter.Creatures">{{creature.Name}}<span ng-if="creature.Description.length > 0"> ({{creature.Description}})</span> x{{creature.Quantity}}</li> <!-- IF CHANGING THIS SIGNATURE, ALSO UPDATE THE FORMATTER -->
    </ul>
    <span>Treasures: {{encounter.Treasures.length > 0 ? '' : 'None'}}</span>
    <ul>
        <li ng-repeat="treasure in encounter.Treasures">
            <dndgen-treasure treasure="treasure"></dndgen-treasure>
        </li>
    </ul>
    <div ng-show="encounter.Characters.length > 0"> <!-- IF CHANGING THIS SIGNATURE, ALSO UPDATE THE FORMATTER -->
        <span>Characters:</span>
        <ul>
            <li ng-repeat="character in encounter.Characters"> <!-- IF CHANGING THIS SIGNATURE, ALSO UPDATE THE FORMATTER -->
                <dndgen-character-without-leadership character="character"></dndgen-character-without-leadership>
            </li>
        </ul>
    </div>
</div>
