@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app='app.roll'
}

@section Scripts {
    <script src="~/Scripts/app/roll/roll.module.js"></script>
    <script src="~/Scripts/app/roll/roll.service.js"></script>
    <script src="~/Scripts/app/roll/roll.controller.js"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/roll.css">
}

<div ng-controller="Roll as vm">
    <h1>RollGen</h1>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <form name="standardRollForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <input dndgen-no-decimals class="form-control " type="number" min="1" ng-model="vm.standardQuantity" required />
                    </div>
                    <label for="standardRolls" class="col-sm-1 control-label no-side-padding">d</label>
                    <div class="col-sm-3 no-side-padding">
                        <select id="standardRolls" class="form-control" ng-model="vm.standardDie" ng-options="standardDie.name for standardDie in vm.standardDice" required></select>
                    </div>
                    <div class="col-sm-2">
                        <button id="standardRollButton" type="button" class="btn btn-success" ng-click="vm.rollStandard()" ng-disabled="standardRollForm.$invalid || vm.rolling">Roll</button>
                    </div>
                </div>
            </form>
            <form name="customRollForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <input dndgen-no-decimals class="form-control" type="number" min="1" ng-model="vm.customQuantity" required />
                    </div>
                    <label for="customDie" class="col-sm-1 control-label no-side-padding">d</label>
                    <div class="col-sm-2 no-side-padding">
                        <input dndgen-no-decimals id="customDie" class="form-control" type="number" min="1" ng-model="vm.customDie" required />
                    </div>
                    <div class="col-sm-2">
                        <button id="customRollButton" type="button" class="btn btn-success" ng-click="vm.rollCustom()" ng-disabled="customRollForm.$invalid || vm.rolling">Roll</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <span ng-hide="vm.rolling" class="font-green font-big">{{vm.roll | number}}</span>
            <span id="rollingSection" ng-show="vm.rolling" class="font-green font-big">Rolling...</span>
        </div>
    </div>
</div>