<div>
  <span [hidden]="treasure.coin.quantity == 0">{{treasure.coin.quantity | number}} {{treasure.coin.currency}}</span>
  <dndgen-collapsible-list [hidden]="treasure.goods.length == 0" [heading]="Goods" [hasList]="treasure.goods.length > 0">
    <ul>
      <li *ngFor="let good of treasure.goods">
        {{good.description}} ({{good.valueInGold | number}}gp)
      </li>
    </ul>
  </dndgen-collapsible-list>
  <dndgen-collapsible-list [hidden]="treasure.items.length == 0" [heading]="Items" [hasList]="treasure.items.length > 0">
    <ul>
      <li *ngFor="let item of treasure.items">
        <dndgen-item [item]="item"></dndgen-item>
      </li>
    </ul>
  </dndgen-collapsible-list>
</div>
