<dndgen-collapsable-list heading="{{item.name}} (x{{item.quantity}})" has-list="hasList()">
    <ul>
        <li ng-show="item.contents.length > 0">
            <dndgen-collapsable-list heading="Contents" has-list="true">
                <ul>
                    <li ng-repeat="content in item.contents track by $index">{{content}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
        <li ng-show="item.traits.length > 0">
            <dndgen-collapsable-list heading="Traits" has-list="true">
                <ul>
                    <li ng-repeat="trait in item.traits track by $index">{{trait}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
        <li ng-show="item.magic.bonus > 0">Bonus: +{{item.magic.bonus}}</li>
        <li ng-show="item.magic.specialAbilities.length > 0">
            <dndgen-collapsable-list heading="Special Abilities" has-list="true">
                <ul>
                    <li ng-repeat="ability in item.magic.specialAbilities track by $index">{{ability.name}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
        <li ng-show="item.attributes.indexOf('Charged') > -1">Charges: {{item.magic.charges}}</li>
        <li ng-show="item.magic.curse.length > 0">Curse: {{item.magic.curse}}</li>
        <li ng-show="item.magic.intelligence.ego > 0">
            <dndgen-collapsable-list heading="Intelligence" has-list="true">
                <ul>
                    <li>Ego: {{item.magic.intelligence.ego}}</li>
                    <li>Intelligence: {{item.magic.intelligence.intelligenceStat}}</li>
                    <li>Wisdom: {{item.magic.intelligence.wisdomStat}}</li>
                    <li>Charisma: {{item.magic.intelligence.charismaStat}}</li>
                    <li>Alignment: {{item.magic.intelligence.alignment}}</li>
                    <li>
                        <span>Communication:</span>
                        <ul>
                            <li ng-repeat="method in item.magic.intelligence.communication track by $index">{{method}}</li>
                            <li ng-show="item.magic.intelligence.languages.length > 0">
                                <dndgen-collapsable-list heading="Languages" has-list="item.magic.intelligence.languages.length > 0">
                                    <ul>
                                        <li ng-repeat="language in item.magic.intelligence.languages">{{language}}</li>
                                    </ul>
                                </dndgen-collapsable-list>
                            </li>
                        </ul>
                    </li>
                    <li>Senses: {{item.magic.intelligence.senses}}</li>
                    <li>
                        <span>Powers:</span>
                        <ul>
                            <li ng-repeat="power in item.magic.intelligence.powers track by $index">{{power}}</li>
                        </ul>
                    </li>
                    <li ng-show="item.magic.intelligence.specialPurpose.length > 0">
                        <span>Special Purpose: {{item.magic.intelligence.specialPurpose}}</span>
                    </li>
                    <li ng-show="item.magic.intelligence.specialPurpose.length > 0">
                        <span>Dedicated Power: {{item.magic.intelligence.dedicatedPower}}</span>
                    </li>
                    <li>Personality: {{item.magic.intelligence.personality.length > 0 ? item.magic.intelligence.personality : 'None'}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
        <li ng-show="item.totalArmorBonus">
            <dndgen-collapsable-list heading="Armor" has-list="true">
                <ul>
                    <li>Size: {{item.size}}</li>
                    <li>Armor Bonus: {{item.totalArmorBonus}}</li>
                    <li>Armor Check Penalty: {{item.totalArmorCheckPenalty}}</li>
                    <li ng-show="item.totalMaxDexterityBonus < 100">Max Dexterity Bonus: {{item.totalMaxDexterityBonus}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
        <li ng-show="item.damages.length > 0">
            <dndgen-collapsable-list heading="Weapon" has-list="true">
                <ul>
                    <li>Size: {{item.size}}</li>
                    <li>Combat Types: {{item.combatTypes.join(", ")}}</li>
                    <li>Damage: {{item.damageDescription}}</li>
                    <li>Critical: {{item.threatRangeDescription}} ({{item.criticalMultiplier}})</li>
                    <li ng-show="item.ammunition">Ammunition Used: {{item.ammunition}}</li>
                </ul>
            </dndgen-collapsable-list>
        </li>
    </ul>
</dndgen-collapsable-list>