<h1>EncounterGen</h1>
<dndgen-loading [isLoading]="loading" [size]="sizes.Large">
  <div class="row top-buffer">
    <div class="col-sm-6">
        <form name="encounterForm" #encounterForm="ngForm" class="form-horizontal top-buffer" role="form">
            <div class="form-group row">
                <label for="temperature" class="col-sm-3 col-form-label">Temperature:</label>
                <div class="col-sm-6">
                  @if (encounterModel) {
                    <select id="temperature" 
                            name="temperature"
                            class="form-select" 
                            [(ngModel)]="temperature" 
                            (change)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" 
                            required>
                      @for (temperature of encounterModel.temperatures; track temperature) {
                        <option [ngValue]="temperature">{{temperature}}</option>
                      }
                    </select>
                  }
                </div>
            </div>
            <div class="form-group row">
                <label for="environment" class="col-sm-3 col-form-label">Environment:</label>
                <div class="col-sm-6">
                  @if (encounterModel) {
                    <select id="environment" 
                            name="environment" 
                            class="form-select" 
                            [(ngModel)]="environment" 
                            (change)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" 
                            required>
                      @for (environment of encounterModel.environments; track environment) {
                        <option [ngValue]="environment">{{environment}}</option>
                      }
                    </select>
                  }
                </div>
            </div>
            <div class="form-group row">
                <label for="timeOfDay" class="col-sm-3 col-form-label">Time of Day:</label>
                <div class="col-sm-6">
                  @if (encounterModel) {
                    <select id="timeOfDay" 
                            name="timeOfDay" 
                            class="form-select" 
                            [(ngModel)]="timeOfDay" 
                            (change)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" 
                            required>
                      @for (timeOfDay of encounterModel.timesOfDay; track timeOfDay) {
                        <option [ngValue]="timeOfDay">{{timeOfDay}}</option>
                      }
                    </select>
                  }
                </div>
            </div>
            <div class="form-group row">
                <label for="level" class="col-sm-3 col-form-label">Level:</label>
                <div class="col-sm-2">
                  <input id="level"
                         name="level"
                         pattern="^[0-9]+$"
                         class="form-control" 
                         type="number" 
                         min="1" 
                         [(ngModel)]="level" 
                         (change)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" 
                         required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Options:</label>
                <div class="col-sm-3">
                    <div class="checkbox-inline">
                        <label>
                          <input id="allowAquatic" 
                                 name="allowAquatic" 
                                 type="checkbox" 
                                 [(ngModel)]="allowAquatic" 
                                 (input)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" > Allow Aquatic
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox-inline">
                        <label>
                          <input id="allowUnderground" 
                                 name="allowUnderground" 
                                 type="checkbox" 
                                 [(ngModel)]="allowUnderground" 
                                 (input)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" > Allow Aquatic
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label">Creature Type Filters (selecting none is the same as selecting all):</label>
            </div>
            <div class="form-group row">
              @for (filter of creatureTypeFilters; track filter.name) {
                <div class="checkbox col-sm-4">
                    <label>
                        <input id="{{filter.name}}" 
                               name="{{filter.name}}"
                               type="checkbox" 
                               class="checkbox" 
                               [(ngModel)]="filter.checked"
                               (input)="validate(environment, temperature, timeOfDay, level, allowAquatic, allowUnderground)" > {{filter.name}}
                    </label>
                </div>
              }
            </div>
            <div class="d-flex justify-content-center">
              <button id="generateButton" 
                      type="button" 
                      class="btn btn-success" 
                      (click)="generateEncounter()" 
                      [disabled]="!encounterForm.form.valid || generating || validating || !valid">
                Generate
              </button>
              <dndgen-loading id="encounterValidating" [isLoading]="validating" [size]="sizes.Small"></dndgen-loading>
            </div>
        </form>
    </div>
    <div class="col-sm-6 clearfix">
      <button id="downloadButton" class="btn btn-light btn-lg float-end" (click)="download()" [hidden-REPLACE-WITH-IF]="generating || !encounter">Download</button>
      <dndgen-loading id="generatingSection" [isLoading]="generating" [size]="sizes.Medium"></dndgen-loading>
      <div id="encounterSection" [hidden-REPLACE-WITH-IF]="generating">
        <span id="noEncounter" class="italicize" [hidden-REPLACE-WITH-IF]="encounter">No encounter has been generated</span>
        @if (encounter) {
          <dndgen-encounter [encounter]="encounter!"></dndgen-encounter>
        }
      </div>
    </div>
  </div>
</dndgen-loading>
