@model DnDGen.Web.Models.EncounterViewModel

@section ngApp {
    ng-app='app.dungeon'
}

@section Scripts {
    <script src="~/js/treasure/treasure.module.js"></script>
    <script src="~/js/treasure/item.directive.js"></script>
    <script src="~/js/treasure/treasure.directive.js"></script>
    <script src="~/js/treasure/treasureFormatter.service.js"></script>
    <script src="~/js/character/character.module.js"></script>
    <script src="~/js/character/character.directive.js"></script>
    <script src="~/js/character/leader.directive.js"></script>
    <script src="~/js/character/characterFormatter.service.js"></script>
    <script src="~/js/encounter/encounter.module.js"></script>
    <script src="~/js/encounter/encounter.service.js"></script>
    <script src="~/js/encounter/encounter.directive.js"></script>
    <script src="~/js/encounter/encounterFormatter.service.js"></script>
    <script src="~/js/dungeon/dungeon.module.js"></script>
    <script src="~/js/dungeon/dungeon.service.js"></script>
    <script src="~/js/dungeon/dungeonFormatter.service.js"></script>
    <script src="~/js/dungeon/dungeon.controller.js"></script>
    <script src="~/js/dungeon/dungeonArea.directive.js"></script>
    <script src="~/js/dungeon/dungeonTreasure.directive.js"></script>
}

<div ng-controller="Dungeon as vm">
    <h1>DungeonGen</h1>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <form name="dungeonForm" class="form-horizontal top-buffer" role="form">
                <div class="form-group row">
                    <label for="dungeonLevel" class="col-sm-5 col-form-label">Dungeon Level (Physical):</label>
                    <div class="col-sm-7">
                        <input dndgen-no-decimals id="dungeonLevel" class="form-control" type="number" min="1" ng-model="vm.dungeonLevel" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="temperatures" class="col-sm-5 col-form-label">Temperature:</label>
                    <div class="col-sm-7">
                        <select id="temperatures" class="form-select" ng-model="vm.temperature" ng-options="temperature for temperature in vm.model.temperatures" required></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="environments" class="col-sm-5 col-form-label">Environment:</label>
                    <div class="col-sm-7">
                        <select id="environments" class="form-select" ng-model="vm.environment" ng-options="environment for environment in vm.model.environments" required></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="timesOfDay" class="col-sm-5 col-form-label">Time of Day:</label>
                    <div class="col-sm-7">
                        <select id="timesOfDay" class="form-select" ng-model="vm.timeOfDay" ng-options="timeOfDay for timeOfDay in vm.model.timesOfDay" required></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="level" class="col-sm-5 col-form-label">Party Level:</label>
                    <div class="col-sm-7">
                        <input dndgen-no-decimals id="level" class="form-control" type="number" min="1" ng-model="vm.level" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Options:</label>
                    <div class="col-sm-3">
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" ng-model="vm.allowAquatic"> Allow Aquatic
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" ng-model="vm.allowUnderground"> Allow Underground
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">Creature Type Filters (selecting none is the same as selecting all):</label>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-4" ng-repeat="filter in vm.creatureTypeFilters">
                        <label>
                            <input type="checkbox" class="checkbox" ng-model="filter.checked"> {{filter.name}}
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <button type="button" class="btn btn-success" ng-click="vm.generateDungeonAreasFromHall()" ng-disabled="dungeonForm.$invalid || vm.generating || !vm.filtersAreValid">Generate From Hall</button>
                    <button type="button" class="btn btn-success" ng-click="vm.generateDungeonAreasFromDoor()" ng-disabled="dungeonForm.$invalid || vm.generating || !vm.filtersAreValid">Generate From Door</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 clearfix">
            <button class="btn btn-light btn-lg float-end" ng-click="vm.download()" ng-show="!vm.generating && vm.areas.length">Download</button>
            <div ng-show="vm.generating">
                <img style="width: 300px; height: auto;" src="~/loading-dice.svg" />
            </div>
            <div ng-hide="vm.generating">
                <span class="italicize" ng-hide="vm.areas.length > 0">No dungeon areas have been generated</span>
                <ul ng-show="vm.areas.length">
                    <li ng-repeat="area in vm.areas track by $index">
                        <dndgen-dungeon-area area="area"></dndgen-dungeon-area>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section PostBodyScripts {
    <script type="text/javascript">
        angular.module('app.dungeon').factory('model', function () {
            return @Html.Raw(Json.Serialize(Model));
        });
    </script>
}